<div class="landing">
    <!-- NAV BAR -->
    <app-navbar id="navbar"></app-navbar>
    <!-- LIVE BOOK -->
    <section class="live-book">
        <div class="row">
            <div class="col-12 col-md-4 live-book__left">
                <h1 class="heading-primary live-book__heading">
                    {{ 'FreeInvest' | translate | uppercase }}
                </h1>
                <div class="live-book__text">
                    {{ 'FreeInvestText' | translate }}.
                </div>
                <button id="registro_chamada" routerLink="/pre-cadastro/formulario" class="btn__btn btn__btn--large">
                    {{ 'Try1' | translate | uppercase }}
                </button>
            </div>
            <div class="col-8 live-book__right">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="live-book__right-crypto">
                            <span>{{ 'CheckOrders' | translate }}:</span>
                            <!-- <div class="live-book__right-crypto--left">
                                Ethereum
                            </div>
                            <div class="live-book__right-crypto--toggler">
                                <mat-slide-toggle [(ngModel)]="btc" [checked]="btc" (change)="!btc"></mat-slide-toggle>
                            </div>
                            <div class="live-book__right-crypto--right">
                                Bitcoin
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="live-book__box">
                            <div class="live-book__eth" [ngClass]="{'live-book__eth--front' : btc === false, 'live-book__eth--back' : btc === true}">
                                <app-l-book></app-l-book>
                            </div>
                            <!-- <div class="live-book__btc" [ngClass]="{'live-book__btc--front' : btc === true, 'live-book__btc--back' : btc === false}">
                                <app-r-book></app-r-book>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WAVE 1 -->
        <img class="live-book__wave" src="./../../assets/img/landing-wave.svg">
    </section>
    <!-- INFOS -->
    <section id="ideia" class="info">
        <!-- TEXTS -->
        <div class="row justify-content-center">
            <div class="col-auto text-center">
                <h4 class="heading-quarternary">
                    {{ 'InvestmentsMustBe' | translate }}
                </h4>
                <h2 class="heading-secondary">
                    {{ 'AccessibleToAll' | translate }}
                </h2>
                <p class="info__text info__text--big">
                    {{ 'AbakateFirstStep' | translate }}.
                </p>
                <p class="info__text info__text--medium">
                    {{ 'OperateWhen' | translate }}
                    <span class="info__text--color"> {{ 'NoTax' | translate }} </span>{{ 'ForThis' | translate }}.
                </p>
            </div>
        </div>
        <!-- BOXES -->
        <div class="row justify-content-center info__infos">
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-deposito.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--1">
                    {{ 'NoDepositTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--1">
                    {{ 'DepositStart' | translate }}
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-resgate.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--2">
                    {{ 'NoRescueTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--2">
                    {{ 'RescueWhen' | translate }}
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-lupa.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--3">
                    {{ 'NoComplications' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--3">
                    {{ 'SimpleOperate' | translate }}
                </p>
            </div>
        </div>
        <!-- BUTTON -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <button id="registro_ideia" routerLink="novo-cadastro/passo-1" class="btn__btn btn__btn--fill">{{ 'IWant' | translate }}!</button>
            </div>
        </div>
    </section>
    <!-- SAFETY -->
    <section id="seguranca" class="safety">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 text-center">
                <img src="../../assets/img/landing_lock.svg" alt="Cadeado" class="safety__img">
                <h4 class="heading-quarternary">
                    {{ 'YourInvest' | translate }}
                </h4>
                <h2 class="heading-secondary">
                    {{ 'safer' | translate }}!
                </h2>
                <p class="safety__text">
                    {{ 'SecurityText' | translate }}.
                </p>
                <button id="guia_seguranca" routerLink="" class="btn__btn btn__btn--outline">
                    {{ 'KnowMore' | translate }}
                </button>
            </div>
        </div>
        <!-- CURVE -->
        <img class="safety__curve" src="./../../assets/img/landing-curve.svg">
        <!-- WAVE 2 -->
        <img class="safety__wave" src="./../../assets/img/landing-wave-2.svg">
    </section>
    <!-- DOUBTS -->
    <section id="duvidas" class="doubts">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <h3 class="heading-tertiary">
                    {{ 'Doubts' | translate }}
                </h3>
                <ul class="doubts__list">
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'AboutAba' | translate }} &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'AbaAll' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'WhyAba' | translate }} &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'AbaFree' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'AbaLimit' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'SafeAba' | translate }}? &rarr;
                        </a>
                    </li>
                    <li class="doubts__list-item">
                        <a href="#" class="doubts__list-link">
                            {{ 'CryptoAba' | translate }}? &rarr;
                        </a>
                    </li>
                </ul>
                <button routerLink="" class="btn__btn btn__btn--outline">
                    {{ 'KnowMore' | translate }}
                </button>
            </div>
            <div class="col-12 col-md-4">
                <div id="doubts" class="doubts__box text-center">
                    <h4 class="heading-quarternary doubts__heading">
                        {{ 'SpeakUs' | translate }}
                    </h4>
                    <input class="doubts__input" type="text" placeholder="{{ 'Name' | translate }}">
                    <input class="doubts__input" type="text" placeholder="{{ 'Email' | translate }}">
                    <textarea class="doubts__input" name="doubt-msg" placeholder="{{ 'Message' | translate }}" id="doubt-msg" cols="30" rows="5"></textarea>
                    <button class="btn__btn btn__btn--white">
                        {{ 'submit' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <app-l-footer></app-l-footer>
    <div class="scroll-to-top">
        <a [ngx-scroll-to]="'navbar'">&uArr;</a>
    </div>
</div>
