<div class="safety-page">
    <div class="row safety-page-row">
        <div class="col-12">
            <!-- SAFETY HEADER -->
            <!-- Future implementation
                <div class="row safety-row">
                    <div class="col-12">
                        <div class="safety-img">
                            <img src="../../assets/img/icon_Safety.svg" />
                        </div>
                        <div class="safety-header">
                            <h3>{{ 'Safety' | translate | uppercase }}</h3>
                        </div>
                    </div>
                </div>
            -->
            <div class="row safety-row mobile-row tablet-row">
                <div class="col-md-6 col-12">
                    <!-- DOCUMENTS -->
                    <div class="safety-title">
                        {{ 'Docs' | translate }}
                    </div>
                    <div class="safety-sub-title-green">
                        <img class="hide-mobile" src="../../assets/img/icon_Check.svg">
                        <div>{{ 'docPhoto' | translate | uppercase }}</div>
                    </div>
                    <div class="safety-against">
                        {{ 'protectAgainst' | translate | uppercase }}:
                        <span>{{ 'falseCPF' | translate }}</span>
                    </div>
                    <div class="safety-about">
                        {{ 'docPhotoPhrase' | translate }}
                    </div>
                    <div class="safety-sub-title-red">
                        <img class="hide-mobile" src="../../assets/img/icon_X.svg">
                        <div>{{ 'verifiedSelfie' | translate | uppercase }}</div>
                        <button mat-button>{{ 'submit' | translate }}</button>
                    </div>
                    <div class="safety-against">
                        {{ 'protectAgainst' | translate | uppercase }}:
                        <span>{{ 'falseID' | translate }}</span>
                    </div>
                    <div class="safety-about">
                        {{ 'verifiedSelfiePhrase' | translate }}
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <!-- PASSWORD AND AUTHENTICATION -->
                    <div class="safety-title">
                        {{ 'Password' | translate }} {{ 'and' | translate }} {{ 'Autenticação' | translate }}
                    </div>
                    <div class="safety-sub-title-green">
                        <img class="hide-mobile" src="../../assets/img/icon_Check.svg">
                        <div>{{ 'passwordStr' | translate | uppercase }}</div>
                    </div>
                    <div class="safety-against">
                        {{ 'protectAgainst' | translate | uppercase }}:
                        <span>{{ 'passwordSteal' | translate }}</span>
                    </div>
                    <div class="safety-about">
                        {{ 'passwordStrPhrase' | translate }}
                    </div>
                    <div class="safety-sub-title-red">
                        <img class="hide-mobile" src="../../assets/img/icon_X.svg">
                        <div>{{ 'twoStepsAuth' | translate | uppercase }}</div>
                        <button mat-button>{{ 'Enable' | translate }}</button>
                    </div>
                    <div class="safety-against">
                        {{ 'protectAgainst' | translate | uppercase }}:
                        <span>{{ 'passwordSteal' | translate }}</span>
                    </div>
                    <div class="safety-about">
                        {{ 'twoStepsAuthPhrase' | translate }}
                    </div>
                    <div *ngIf="!haveSafeWord;else templateSafeWord" class="safety-sub-title-red">
                        <img class="hide-mobile" src="../../assets/img/icon_X.svg">
                        <div>{{ 'safeWord' | translate | uppercase }}</div>
                        <button mat-button  (click)="enableSafeWord()">{{ 'Enable' | translate }}</button>
                    </div>
                    <ng-template #templateSafeWord>
                        <div class="safety-sub-title-green">
                            <img class="hide-mobile" src="../../assets/img/icon_Check.svg">
                            <div>{{ 'safeWord' | translate | uppercase }}</div>
                        </div>
                    </ng-template>
    


                    <div class="safety-against">
                        {{ 'protectAgainst' | translate | uppercase }}:
                        <span>{{ 'Phishing' | translate }}</span>
                    </div>
                    <div class="safety-about">
                        {{ 'safeWordPhrase' | translate }}
                        <a class="safety-click">{{ 'clickHere' | translate }}</a> {{ 'toKnowMore' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


