<div class="quotepanel">
    <div class="row">
        <!-- DEFAULT BOX -->
        <div class="col-md-auto col-12" *ngIf="typeofbox === 0">
            <div class="quote-box">
                <div class="quote-box-header clearfix">
                    <img *ngIf="coinType === 'Bitcoin'" src="../../assets/img/icon_Bitcoin.svg" alt="">
                    <img *ngIf="coinType === 'Ethereum'" src="../../assets/img/icon_Ethereum.svg" alt="">
                    <span *ngIf="coinType === 'Bitcoin'" class="quote-box-bitcoin">{{ coinType }}</span>
                    <span *ngIf="coinType === 'Ethereum'" class="quote-box-ethereum">{{ coinType }}</span>
                    <div class="quote-box-favorite-icon">
                        <img src="../../assets/img/icon_Favorite.svg">
                    </div>
                </div>
                <div class="quote-box-content-top text-center" (click)="changeBox(1)">
                    <span class="quote-box-buy-btn">{{ 'buy' | translate | uppercase }}</span>
                    <span>R$ </span>{{ coinBuyValue }}
                </div>
                <div class="quote-box-content-bottom text-center" (click)="changeBox(2)">
                    <span class="quote-box-sell-btn">{{ 'sell' | translate | uppercase }}</span>
                    <span>R$ </span>{{ coinSellValue }}
                </div>
                <div class="quote-box-open-orders">{{ 'Open Orders' | translate | uppercase }}:
                    <span>{{ openOrders }}</span>
                </div>
                <div class="quote-box-available-balance">
                    {{ 'AvailableBalance' | translate |uppercase }}:
                    <span>R$ {{ coinBuyValue }}</span>
                    <div class="text-right">{{ coinInitials }} XXXXX,XX</div>
                </div>
                <div class="quote-box-icon-right text-right">
                    <img src="../../assets/img/icon_OrderBook.svg"> 
                </div>
            </div>
        </div>
        <!-- BUY BOX -->
        <div class="col-auto" *ngIf="typeofbox === 1">
            <div class="quote-box-buy">
                <div class="quote-box-2-header">
                    <img *ngIf="coinType === 'Bitcoin'" src="../../assets/img/icon_Bitcoin.svg" alt="">
                    <img *ngIf="coinType === 'Ethereum'" src="../../assets/img/icon_Ethereum.svg" alt="">
                    <span *ngIf="coinType === 'Bitcoin'" class="quote-box-bitcoin">{{ coinType }}</span>
                    <span *ngIf="coinType === 'Ethereum'" class="quote-box-ethereum">{{ coinType }}</span>
                </div>
                <div class="quote-box-close">
                    <img src="../../assets/img/icon_Close.svg" (click)="changeBox(0)">
                </div>
                <div class="quote-box-buy-content">
                    <div class="quote-box-toggle">
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                            <mat-button-toggle value="market" [checked]="(value == 'market')">
                                {{ 'market'|translate }}
                            </mat-button-toggle>
                            <mat-button-toggle value="limit" [checked]="!(value == 'market')">
                                {{ 'limit'|translate }}
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="quote-box-text">
                        <p>{{ 'Quotation' | translate | uppercase }}:</p>
                        <span>R$ </span>{{ coinBuyValue }}
                    </div>
                    <div class="quote-box-value">
                        {{ 'Value' | translate | uppercase }}:
                        <span>{{ coinInitials }}</span> {{ coinBuyValue }}
                    </div>
                    <div class="quote-box-btn text-center">
                        <span>
                            {{ 'buy' | translate }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- SELL BOX -->
        <div class="col-auto" *ngIf="typeofbox === 2">
            <div class="quote-box-sell">
                <div class="quote-box-2-header">
                    <img *ngIf="coinType === 'Bitcoin'" src="../../assets/img/icon_Bitcoin.svg" alt="">
                    <img *ngIf="coinType === 'Ethereum'" src="../../assets/img/icon_Ethereum.svg" alt="">
                    <span *ngIf="coinType === 'Bitcoin'" class="quote-box-bitcoin">{{ coinType }}</span>
                    <span *ngIf="coinType === 'Ethereum'" class="quote-box-ethereum">{{ coinType }}</span>
                </div>
                <div class="quote-box-close">
                    <img src="../../assets/img/icon_Close.svg" (click)="changeBox(0)">
                </div>
                <div class="quote-box-buy-content">
                    <div class="quote-box-toggle">
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                            <mat-button-toggle value="market" [checked]="(value == 'market')">
                                {{ 'market'|translate }}
                            </mat-button-toggle>
                            <mat-button-toggle value="limit" [checked]="!(value == 'market')">
                                {{ 'limit'|translate }}
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="quote-box-text">
                        <p>{{ 'Quotation' | translate | uppercase }}:</p>
                        <span>R$ </span>{{ coinBuyValue }}
                    </div>
                    <div class="quote-box-value">
                        {{ 'Value' | translate | uppercase }}:
                        <span>{{ coinInitials }}</span> {{ coinBuyValue }}
                    </div>
                    <div class="quote-box-btn text-center">
                        <span>
                            {{ 'sell' | translate }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
