<div class="user-balance-component">
    <!-- USER BALANCE HEADER -->
    <div class="row user-balance-row">
        <div class="col-12">
            <div class="user-balance-img">
                <img src="../../assets/img/icon_UserBalance.svg" />
            </div>
            <div class="user-balance-header">
                <h3>{{ 'userBalance' | translate | uppercase }}</h3>
            </div>
        </div>
    </div>

    <div class="row user-balance-row mobile-row">
        <div class="col-md-auto col-12">
            <div class="user-balance-coin-box text-center">
                <img src="../../assets/img/icon_Reais.svg" alt="Ethereum">
                <h6 class="user-balance-currency">
                    Reais (R$)
                </h6>
                <span class="user-balance-currency-value" title="{{balanceBRL | number:'1.2-2'}}">
                    {{balanceBRL | number:'1.2-2'}}
                </span>
                <div class="user-balance-box-footer">
                    <img src="../../assets/img/icon_AccountBalance.svg" alt="Account Balance">
                    <span routerLink="/home/extrato">{{ 'checkCoinBalance' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-auto col-12">
            <div class="user-balance-coin-box text-center">
                <img src="../../assets/img/icon_Bitcoin.svg" alt="Bitcoin">
                <h6 class="user-balance-btc">
                    Bitcoins
                </h6>
                <span class="user-balance-btc-value" title="{{balanceBTC | number:'1.8-8'}}">
                    {{balanceBTC | number:'1.8-8'}}
                </span>
                <div class="user-balance-box-footer">
                    <img src="../../assets/img/icon_AccountBalance.svg" alt="Account Balance">
                    <span routerLink="/home/extrato">{{ 'checkCoinBalance' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-auto col-12">
            <div class="user-balance-coin-box text-center">
                <img src="../../assets/img/icon_Ethereum.svg" alt="Ethereum">
                <h6 class="user-balance-eth">
                    Ethereum
                </h6>
                <span class="user-balance-eth-value" title="{{balanceETH | number:'1.8-8'}}">
                    {{balanceETH | number:'1.8-8'}}
                </span>
                <div class="user-balance-box-footer">
                    <img src="../../assets/img/icon_AccountBalance.svg" alt="Account Balance">
                    <span routerLink="/home/extrato">{{ 'checkCoinBalance' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
