<div class="shared-input-currency">
    <mat-form-field class = "align-left">
        <input *ngIf="strPrefix == 'R$';else isEmptyPrefix" matInput placeholder="{{placeholder}}" [formControl]="inputBaseControl" (ngModelChange)="changeValue($event)" currencyMask
            [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="value" />
        <ng-template #isEmptyPrefix >
            <input matInput placeholder="{{placeholder}}" [formControl]="inputBaseControl" (ngModelChange)="changeValue($event)" currencyMask
            [options]="{ align: 'left', prefix: '', thousands: '.', decimal: ',' }" [(ngModel)]="value" />
        </ng-template>
        <mat-error *ngIf="inputBaseControl.hasError('min')">
            {{ 'priceFormatNegativeError' | translate }}
        </mat-error>
        <mat-error *ngIf="inputBaseControl.hasError('required')">
            {{ 'required' | translate }}
        </mat-error>
    </mat-form-field>
</div>

