<div class="register-modal">
    <div class="btn-dimensions-close">
        <button class="btn-close" title="{{ 'Log Out' | translate }}" (click)=" onNoClick()">
            <img src="./assets/img/icon_close.svg" />
        </button>
    </div>
    <mat-dialog-title>
        <div class="align-title">
            <div class="pt-3">
                <span class="title">
                    {{'AccountRegistration' | translate}}
                </span>
            </div>
            <div class="pt-4">
                <span class="user-since pt-4"> USUÀRIO DESDE JANEIRO/2018 </span>
            </div>
        </div>
        <hr class="line-title">
    </mat-dialog-title>
    <mat-dialog-content class="data-dimensions">
        <form [formGroup]="accountForm">
            <div class="row">
                <div class="col-12">
                    <label class="sign-up__form-label" for="bank">{{'bank' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="text" name="bank" id="bank" placeholder="{{'selectBank' | translate }}"
                        formControlName="bank" [pattern]="bankPattern" [(ngModel)]="bank">
                    <span *ngIf="!accountForm.get('bank').valid && accountForm.get('bank').touched" class="sign-up__form-error pt-4">
                        <img src="../../../assets/img/icon_error.svg" alt="Error">
                    </span>
                    <span *ngIf="accountForm.get('bank').valid && accountForm.get('bank').touched" class="sign-up__form-success pt-4">
                        <img src="../../../assets/img/icon_Check.svg" alt="Check">
                    </span>
                    <span *ngIf="!accountForm.get('bank').valid && accountForm.get('bank').touched" class="settings-invalid">
                        <i>{{ 'invalidBank' | translate }}</i>
                    </span>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6 col-12">
                    <label class="sign-up__form-label" for="agency">{{'Agency' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="text" name="agency" id="agency" placeholder="{{'numberAgency' | translate }}"
                        formControlName="agency" [pattern]="agencyPattern" [(ngModel)]="agency">
                    <span *ngIf="!accountForm.get('agency').valid && accountForm.get('agency').touched" class="sign-up__form-error pt-4 pr-2">
                        <img src="../../../assets/img/icon_error.svg" alt="Error">
                    </span>
                    <span *ngIf="accountForm.get('agency').valid && accountForm.get('agency').touched" class="sign-up__form-success pt-4 pr-2">
                        <img src="../../../assets/img/icon_Check.svg" alt="Check">
                    </span>
                    <span *ngIf="!accountForm.get('agency').valid && accountForm.get('agency').touched" class="settings-invalid">
                        <i>{{ 'invalidAgency' | translate }}</i>
                    </span>
                </div>
                <div class="col-md-6 col-12">
                    <label class="sign-up__form-label" for="account">{{'CurrentAccount' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="text" name="account" id="account" placeholder="{{'CurrentAccountNumber' | translate }}"
                        formControlName="account" [(ngModel)]="account">
                </div>
            </div>
        </form>
        <div class="pt-4">
            <hr class="line">
        </div>
        <div class="section-radios pt-3">
            <mat-radio-group (change)="select()">
                <mat-radio-button class="pr-4" value="JoinAccount" [checked]="isTypeAccount">
                    <span class="label-checkbox"> {{'JointAccount' | translate }} </span>
                </mat-radio-button>
                <mat-radio-button value="IndividualAccount" [checked]="!isTypeAccount">
                    <span class="label-checkbox "> {{'IndividualAccount' | translate }} </span>
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <ng-container *ngIf="isTypeAccount">
            <div class="row pt-3">
                <div class="col-md-8 col-12">
                    <div>
                        <label class="sign-up__form-label" for="agency">{{'CoOwnerName' | translate | uppercase}} </label>
                        <input class="sign-up__form-input label-checkbox" type="text" name="nameCoOwner" id="nameCoOwner" placeholder="{{'NameSurname' | translate }}"
                            [(ngModel)]="nameCoOwner">
                    </div>
                    <div class="pt-4">
                        <label class="sign-up__form-label" for="cpfOwnerName">{{'CpfOwnerName' | translate | uppercase}} </label>
                        <input class="sign-up__form-input label-checkbox" placeholder="000.000.000-00" (keyup)="formatCPF(); validCPF();" type="text"
                            name="cpfOwnerName" id="cpfOwnerName" [(ngModel)]="cpfOwnerName">
                        <!-- Future Implementation
                            <span *ngIf="accountForm.get('cpfOwnerName').touched && validCPFFlag && accountForm.get('cpfOwnerName').status === 'VALID'"
                                class="sign-up__form-success">
                                <img src="../../../assets/img/icon_Check.svg" alt="Check">
                            </span>
                            <span *ngIf="(accountForm.get('cpfOwnerName').touched && !validCPFFlag) || (accountForm.get('cpfOwnerName').touched && accountForm.get('cpfOwnerName').status === 'INVALID')"
                                class="sign-up__form-error">
                                <img src="../../../assets/img/icon_error.svg" alt="Error">
                            </span>
                            <span *ngIf="!validCPFFlag && accountForm.get('cpfOwnerName').touched" class="settings-invalid">
                                <i>{{ 'invalidCPF' | translate }}</i>
                            </span>
                         -->
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="d-flex flex-row">
                        <label class="sign-up__form-label" for="upload-file"> {{'selfie' | translate | uppercase}} </label>
                        <div class="info-selfie">
                            <span>
                                <p>
                                    <strong> {{ 'Important' | translate }}! </strong>
                                    <br> {{ 'uploadSelfieInfo' | translate}}.
                                </p>
                            </span>
                        </div>
                        <img class="dimension-trash-selfie pl-1" (click)="cleanSelfie()" src="../../assets/img/icon_Trash.svg" />
                        <img class="dimension-trash-selfie pl-1" (click)="cleanSelfie()" src="../../assets/img/icon_Information.svg" />
                    </div>

                    <upload-file class="dropzone-container"> </upload-file>
                </div>
            </div>
        </ng-container>

        <!-- Future implementation
        <mat-form-field class="example-full-width">
            <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{state.name}}</span> |
                <small>Code: {{state.code}}</small>
              </mat-option>
            </mat-autocomplete>
        </mat-form-field> -->

    </mat-dialog-content>

    <mat-dialog-actions class="data-dimensions btn-register">
        <button *ngIf="accountForm.status === 'VALID'; else saveBtn" class="btn btn-primary" (click)="onSubmit()"> {{ 'Register' | translate }} </button>
        <ng-template #saveBtn>
            <button mat-button *ngIf="accountForm.status === 'INVALID'" (click)="onSubmit()" disabled="true" cdkFocusInitial>{{ 'Register' | translate }}</button>
        </ng-template>
    </mat-dialog-actions>
</div>