<div class="wallet-component">
    <h2 class="wallet-title">{{ 'Balance' | translate }}:</h2>
    <ul class="wallet-list">
        <li class="wallet-list-item" title="{{balanceBRL | number:'1.2-2'}}">
            <div>R$</div>
            <span>{{balanceBRL | number:'1.2-2'}}</span>
        </li>
        <li class="wallet-list-item wallet-list-item-ETH" *ngIf="currentCryptoSymbol == 'ETH'" title="{{balanceETH | number:'1.8-8'}}">
            <div>ETH</div>
            <span>{{balanceETH | number:'1.8-8'}}</span>
        </li>
        <li class="wallet-list-item wallet-list-item-BTC" *ngIf="currentCryptoSymbol == 'BTC'" title="{{balanceBTC | number:'1.8-8'}}">
            <div>BTC</div>
            <span>{{balanceBTC | number:'1.8-8'}}</span>
        </li>
    </ul>
    <div class="wallet-coin-balance" routerLink="/home/balanco">
        {{ 'walletCoinBallance' | translate | lowercase }}
    </div>
</div>

