<div class="fullbook">
    <div class="halfbook leftbook">
        <table id="orderbook" class="tableleftbook">
            <tr class="bookline tablebook">
                <td class="bookline barcell"></td>
                <td class="bookline amountcell bookhead">{{'quantity'|translate|uppercase}}</td>
                <td class="bookline pricecell bidprice bookhead">{{'price'|translate|uppercase}}</td>
            </tr>
            <tr *ngFor="let bid of bids;trackBy: trackByFnBid" class="bookline tablebook hover-click" [ngClass]="{'my-order': bid.isMyOrder}" >
                <td class="bookline barcell">
                    <div class="leftbar" [style.width.px]="bid.normalizedAmount">&nbsp;</div>
                </td>
               
                <td title="{{bid.isMyOrder?'Minha ordem':''}}" class="bookline amountcell">
                    
                    <a class="link-history" (click)="onRowClick('Sell','size', bid.lastVolume, bid.price, 'limit')"><span>{{ bid.amountOne }}</span><span class="weak">{{ bid.amountTwo }}</span>
                    </a>
                </td>
                <td class="bookline pricecell bidprice" title="{{bid.isMyOrder?'Minha ordem':''}}">
                    <a class="link-history" (click)="onRowClick('Sell','size', bid.lastVolume, bid.price, 'limit')">
                            <span class="weak">{{ bid.priceOne }}</span><span>{{ bid.priceTwo }}</span></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="halfbook rightbook">
        <table id="orderbook" class="tablerightbook">
            <tr>
                <td class="bookline pricecell askprice bookhead">{{'price'|translate|uppercase}}</td>
                <td class="bookline amountcell bookhead">{{'quantity'|translate|uppercase}}</td>
                <td class="bookline barcell"></td>
            </tr>
            <tr *ngFor="let ask of asks;trackBy: trackByFnAsk" class="bookline hover-click" [ngClass]="{'my-order': ask.isMyOrder}">
                <td class="bookline pricecell askprice"  title="{{ask.isMyOrder?'Minha ordem':''}}">
                    <a class="link-history" (click)="onRowClick('Buy','size', ask.lastVolume, ask.price)"> 
                        <span class="weak" >{{ ask.priceOne }}</span><span >{{ ask.priceTwo }}</span>
                    </a>
                </td>
                <td class="bookline amountcell" title="{{ask.isMyOrder?'Minha ordem':''}}">
                        <a class="link-history" (click)="onRowClick('Buy','size', ask.lastVolume, ask.price)"> 
                            <span >{{ ask.amountOne }}</span><span class="weak" >{{ ask.amountTwo }}</span>
                        </a>
                </td>
                <td class="bookline barcell">
                    <div class="rightbar" [style.width.px]="ask.normalizedAmount">&nbsp;</div>
                </td>
            </tr>
        </table>
    </div>
</div>
