// basic reset
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after,
p::after,
ul::after,
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
p::before,
ul::before {
    margin: 0;
    padding: 0;
    font-family: $font-default;
}

html {
    // 1rem = 16px
    font-size: 100%;
    @include respond(big-desk) {
        // width >= 1801px?
        font-size: 118.8%; // 1rem = 16 x 1.2 = 19px
        .hide-big {
            display: none;
        }
    }
    @include respond(tab-desk) {
        // width <= 1800px?
        .hide-desktop {
            display: none;
        }
    }
    @include respond(medium-desk) {
        // width >= 1440px;
        .hide-medium-desk {
            display: none !important;
        }
    }
    @include respond(tab-land) {
        // width <= 1200px?
        font-size: 93.8%; // 1rem = 16 x 0.938 = 15px
        .hide-land {
            display: none;
        }
    }
    @include respond(tab-port) {
        // width <= 900px?
        font-size: 81.3%; // 1rem = 16 x 0.813 = 13px
        .hide-tablet {
            display: none;
        }
    }
    @include respond(phone) {
        // width <= 600px?
        font-size: 68.8%; // 1rem = 16 x 0.688 = 11px
        .hide-mobile {
            display: none !important;
        }
        .visible-mobile {
            display: inline;
        }
    }
}

/* scroll to top btn */

.scroll-to-top {
    position: absolute;
    bottom: 4.5rem;
    right: 1.7rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-positive;
    color: $color-white;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid $color-positive;
    border-radius: 10rem;
    cursor: pointer;
    z-index: 5;
    @include respond(phone) {
        position: fixed;
        bottom: 6.5rem;
        right: 2rem;
        width: 4.3rem;
        height: 4.3rem;
        a {
            font-size: 2.7rem;
        }
    }
    &:hover {
        background-color: darken($color-positive, $amount: 20%);
        border-color: darken($color-positive, $amount: 20%);
        transition: all .2s;
    }
}

/* width */

::-webkit-scrollbar {
    width: .3rem;
}

/* Track */

::-webkit-scrollbar-track {
    background: $color-background-4;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: $color-links;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $color-white;
}
