<div class="terms">
    <h1 mat-dialog-title class="terms__title">{{ 'Terms' | translate }} {{ 'and' | translate }} {{ 'Privacy' | translate }}</h1>
    <mat-dialog-content class="terms__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia odio, odit iure, veritatis laborum sunt officia sapiente
        perferendis deleniti repellat ipsa similique alias quod consequuntur ab minus, nemo reprehenderit cupiditate? Ab
        sapiente harum ullam repellat minus vitae illo minima, odit distinctio adipisci eveniet exercitationem iusto incidunt
        dolore eius. Quo, qui.
    </mat-dialog-content>
    <mat-dialog-actions class="terms__close">
        <button mat-button mat-dialog-close>{{'Close' | translate}}</button>
    </mat-dialog-actions>
</div>
