<div class="shared-button-toggle">
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="select($event)">
        <mat-button-toggle [value]="options[0]" [checked]="(value == options[0])">
            {{options[0]|translate}}
        </mat-button-toggle>
        <mat-button-toggle [value]="options[1]" [checked]="!(value == options[0])">
            {{options[1]|translate}}
        </mat-button-toggle>
    </mat-button-toggle-group>                                          
</div>
      