<div class="orderentry-component"> 
    <div class="container" id="orderentry">
        <form (ngSubmit)="onSubmit($event)" #orderForm="ngForm" ngForm="form">
            <buttontoggle [value]="order.subtype" (selectChanges)="marketLimitValue($event)" [options]="['market','limit']"></buttontoggle>

            <app-buysell [isBuyOrder]="(this.order.side == 'Buy')" (selectChanges)="select($event)"></app-buysell>

            <div class="coin-select">
                <div class="d-flex flex-row">
                    <div class="pr-1">
                        <h2 class="coin"> {{ 'Currency' | translate | uppercase }}: </h2>
                    </div>
                    <div>
                        <mat-form-field class="align-mat-form">
                            <mat-select [(value)]="symbolSelected" (change)="onChangedSymbol($event)">
                                <mat-option *ngFor="let symbol of availableSymbols" value="{{symbol}}">
                                    {{ symbol | replaceTwoDots }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        
            <inputbase [placeholder]="'Quantity' + cryptoSymbol | translate | uppercase" [value]="order.size" (selectChangePrice)="newSizeValue($event)" ></inputbase>
            
            <input-currency *ngIf="order.subtype =='limit'" (selectChangePrice)="priceValue($event)" [value]="order.price" [placeholder]="'priceInBRL' | translate | uppercase"></input-currency>
            <p class="d-flex ml-auto" *ngIf="order.subtype !='limit'"> ~{{'price' | translate | uppercase}}: R$ {{marketPrice}} </p>
           

           <div class="clear">
               <div class="d-flex">
                    <div class="pr-2">
                        <h2 class ="total"> {{'Total'| translate }}:</h2>
                    </div>
                    <div>
                        <div class="total-value">
                            <input-currency [strPrefix]="'R$'" (selectChangePrice)="changeTotal($event)" [value]="total" ></input-currency>
                        </div>
                    </div>
               </div>
           </div>
           
            <button type="submit" class="btn btn-success btn-submit" [ngClass]=" order.side == 'Buy' ? 'button-buy' : 'button-sell'" 
                [disabled]="!orderForm.form.valid || order.price == 0 || order.price == undefined || !order.price || order.size == 0 || order.size == undefined || !order.size ">
                {{'submit'|translate}}
                <span *ngIf="order.side == 'Buy'"> {{'buyOrder'|translate}}</span>
                <span *ngIf="order.side == 'Sell'"> {{'sellOrder'|translate}}</span>
            </button>
        </form>
    </div>                     
</div>  
    
