<div class="selectcrypto-component">

    <mat-form-field class="selectcrypto-form">
        <mat-select placeholder="{{ 'SelectCrypto' | translate }}" [value]='currentPair' (change)="onChangedPair($event)">
            <mat-option *ngFor="let pair of availablePairs" [value]="pair">
                {{ pair | replaceTwoDots }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>
