<div class="history pt-2">

    <div class="d-flex flex-row align-panel">
        <div class="pt-2 pl-1">
            <button class="pr-2" mat-button (click)="isMyOrdersOpen()">
                <h2 [ngClass]="{'actived': myOrdersOpen==true}" class="itens-menu"> {{ 'Open Orders' | translate | uppercase }} </h2>
            </button>
        </div>
        <div class="separator">
            <span> | </span>
        </div>
        <div class="pt-2">
            <button class="pr-2 pl-2" mat-button (click)="isMyOrdersAll()">
                <h2 [ngClass]="{'actived': myOrdersAll==true}" class="itens-menu"> {{ 'Orders' | translate | uppercase }} </h2>
            </button>
        </div>
        <div class="separator">
            <span> | </span>
        </div>
        <div class="pt-2">
            <button class="pr-2 pl-2" mat-button (click)="isTranserOpen()">
                <h2 [ngClass]="{'actived': transferOpen==true}" class="itens-menu"> {{ 'Open Transfers' | translate | uppercase }} </h2>
            </button>
        </div>
        <div class="separator">
            <span> | </span>
        </div>
        <div class="pt-2">
            <button class="pr-2 pl-2" mat-button (click)="isTranserAll()">
                <h2 [ngClass]="{'actived': transferAll==true}" class="itens-menu"> {{ 'Transfers' | translate | uppercase }} </h2>
            </button>
        </div>
    </div>

    <ng-container *ngIf="myOrdersAll == true">
        <app-myorders [tabActive]=1 [ordersAllOpen]=0></app-myorders>
    </ng-container>
    <ng-container *ngIf="myOrdersOpen == true">
        <app-myorders [tabActive]=1 [ordersAllOpen]=1></app-myorders>
    </ng-container>
    <ng-container *ngIf="transferAll">
        <app-transfer [tabActive]=2 [transfersAllOpen]=0></app-transfer>
    </ng-container>
    <ng-container *ngIf="transferOpen">
        <app-transfer [tabActive]=2 [transfersAllOpen]=1></app-transfer>
    </ng-container>

</div>
