<div class="shared-range-calendar">

    <div class="row col-12">
        <div class="col-md-3 pr-0 pl-0 m-top-calendar">
            <button class="btn btn-outline-secondary range-data-input" (click)="drp.toggle()"  [attr.aria-expanded]="drp.isOpen" type="button">
                <img src="./assets/img/icon_Calendar.svg">
            </button>
        </div>
        <div class="col-md-9 pr-0">
            <input class="form-control range-data-input" #drp="bsDaterangepicker" [style.visibility]="'hidden'" [minDate]="minDate" [maxDate]="maxDate"[bsConfig]="bsConfig" value="{{ bsRangeValue[0] | date:'dd/MM/yyyy'}}  - {{bsRangeValue[1] | date:'dd/MM/yyyy'}}" bsDaterangepicker (ngModelChange)="onChangeDates($event)" [(ngModel)]="bsRangeValue">
        </div>

    </div>

</div>
