<div class="edit-user">
    <h1 mat-dialog-title> {{ 'EditProfile' | translate }}</h1>
    <mat-dialog-content>
        <form [formGroup]="profileForm">

            <mat-form-field>
                <input matInput [(ngModel)]="name" name="name" id="name" formControlName="name" placeholder="{{ 'Name' | translate }}">
            </mat-form-field>
            <span *ngIf="!profileForm.get('name').valid && profileForm.get('name').touched" class="settings-invalid">{{ 'invalidName' | translate }}</span>

            <mat-form-field>
                <input matInput [(ngModel)]="email" name="email" id="email" formControlName="email" placeholder="{{ 'Email' | translate }}">
            </mat-form-field>
            <span *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched" class="settings-invalid">{{ 'invalidEmail' | translate }}</span>

            <div class="d-flex align-items-baseline">
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="cpf" [pattern]="cpfPattern" maxlength="14" name="cpf" id="cpf" formControlName="cpf" (keyup)="validCPF(); formatCPF();"
                            placeholder="{{ 'CPF' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!validCPFFlag && profileForm.get('cpf').touched" class="settings-invalid">{{ 'invalidCPF' | translate }}</span>
                </div>
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="birthdate" type="date" name="birthdate" id="birthdate" formControlName="birthdate" placeholder="{{ 'DateOfBirth' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('birthdate').valid && profileForm.get('birthdate').touched" class="settings-invalid">{{ 'invalidBirthdate' | translate }}</span>
                </div>
                <div class="pr-1">
                    <mat-form-field class="m-top">
                        <input matInput [(ngModel)]="cellPhone" (input)="formatCellPhone();" type="phone" [pattern]="phonePattern" name="cellPhone"
                            id="cellPhone" formControlName="cellPhone" placeholder="{{ 'CellPhone' | translate }}" maxlength="12">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('cellPhone').valid && profileForm.get('cellPhone').touched" class="settings-invalid">{{ 'invalidCellPhone' | translate }}</span>
                </div>
            </div>

            <mat-form-field>
                <input matInput [(ngModel)]="mothersName" name="mothersName" id="mothersname" formControlName="mothersName" placeholder="{{ 'mothersName' | translate }}">
            </mat-form-field>
            <span *ngIf="!profileForm.get('mothersName').valid && profileForm.get('mothersName').touched" class="settings-invalid">{{ 'invalidMothersName' | translate }}</span>

            <div class="d-flex align-items-baseline">
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="street" name="street" id="street" formControlName="street" placeholder="{{ 'Street' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('street').valid && profileForm.get('street').touched" class="settings-invalid">{{ 'invalidStreet' | translate }}</span>
                </div>
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="number" type="number" name="number" id="number" formControlName="number" placeholder="{{ 'Number' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('number').valid && profileForm.get('number').touched" class="settings-invalid">{{ 'invalidNumber' | translate }}</span>
                </div>
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="complement" name="complement" id="complement" formControlName="complement" placeholder="{{ 'Complement' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('complement').valid && profileForm.get('complement').touched" class="settings-invalid">{{ 'invalidComplement' | translate }}</span>
                </div>
            </div>

            <div class="d-flex">
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="city" name="city" id="city" formControlName="city" placeholder="{{ 'City' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('city').valid && profileForm.get('city').touched" class="settings-invalid">{{ 'invalidCity' | translate }}</span>
                </div>
                <div class="pr-1">
                    <mat-form-field>
                        <mat-select [(value)]="selectedState">
                            <mat-option value="UF">UF</mat-option>
                            <mat-option value="AC">AC</mat-option>
                            <mat-option value="AL">AL</mat-option>
                            <mat-option value="AP">AP</mat-option>
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="BA">BA</mat-option>
                            <mat-option value="CE">CE</mat-option>
                            <mat-option value="DF">DF</mat-option>
                            <mat-option value="ES">ES</mat-option>
                            <mat-option value="GO">GO</mat-option>
                            <mat-option value="MA">MA</mat-option>
                            <mat-option value="MT">MT</mat-option>
                            <mat-option value="MS">MS</mat-option>
                            <mat-option value="MG">MG</mat-option>
                            <mat-option value="PA">PA</mat-option>
                            <mat-option value="PB">PB</mat-option>
                            <mat-option value="PR">PR</mat-option>
                            <mat-option value="PE">PE</mat-option>
                            <mat-option value="PI">PI</mat-option>
                            <mat-option value="RJ">RJ</mat-option>
                            <mat-option value="RN">RN</mat-option>
                            <mat-option value="RS">RS</mat-option>
                            <mat-option value="RO">RO</mat-option>
                            <mat-option value="PR">RR</mat-option>
                            <mat-option value="SC">SC</mat-option>
                            <mat-option value="SP">SP</mat-option>
                            <mat-option value="SE">SE</mat-option>
                            <mat-option value="TO">TO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="neigh" name="neigh" id="neigh" formControlName="neigh" placeholder="{{ 'Neightborhood' | translate }}">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('neigh').valid && profileForm.get('neigh').touched" class="settings-invalid">{{ 'invalidNeightborhood' | translate }}</span>
                </div>
            </div>

            <div class="d-flex">
                <div class="pr-1">
                    <mat-form-field>
                        <input matInput [(ngModel)]="zipCode" [pattern]="zipCodePattern" name="zipCode" id="zipCode" (input)="formatZipCode();" formControlName="zipCode"
                            placeholder="{{ 'zipCode' | translate | uppercase }}" maxlength="9">
                    </mat-form-field>
                    <span *ngIf="!profileForm.get('zipCode').valid && profileForm.get('zipCode').touched" class="settings-invalid">{{ 'invalidZipCode' | translate }}</span>
                </div>
            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">{{'Cancel' | translate}}</button>
        <button *ngIf="profileForm.status === 'VALID'; else saveBtn" mat-button (click)="onSubmit()">{{ 'save' | translate }}</button>
        <ng-template #saveBtn>
            <button mat-button *ngIf="profileForm.status === 'INVALID'" (click)="onSubmit()" disabled="true" cdkFocusInitial>{{ 'save' | translate }}</button>
        </ng-template>
    </mat-dialog-actions>
</div>