// LANDING
.landing {
    .doubts {
        &__input {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.6rem;
            border: none;
            color: $color-background-3;
            font-size: 0.875rem;
            &:first-of-type {
                margin-top: 1.9rem;
            }
            &::placeholder {
                font-style: italic;
                color: $color-font;
            }
        }
    }
}

// SIGN UP
.sign-up {
    &__form {
        margin-bottom: 2.2rem;
        .row {
            div:nth-child(1) {
                margin-bottom: 1rem;
            }
        }
        &-label {
            display: block;
            font-family: $font-landing-1;
            font-size: 0.75rem;
            color: $color-font;
            margin-bottom: .2rem;
        }
        &-input {
            width: 100%;
            height: 3rem;
            padding: 0.6rem;
            border-radius: 3px;
            border: solid 1px $color-font;
            background-color: $color-white;
            color: $color-background-3;
            font-size: 1.2rem;
        }
        &-invalid {
            position: absolute;
            bottom: -33%;
            font-family: $font-landing-1;
            font-size: 0.75rem;
            color: $color-negative;
        }
        &-relative {
            position: relative;
        }
        &-success,
        &-error {
            position: absolute;
            right: 5%;
            top: 0.8rem;
            img {
                display: block;
                width: 1.5rem;
                height: auto;
            }
        }
        &-success {
            color: $color-positive;
        }
        &-error {
            color: $color-negative;
        }
        &-forgot {
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: $font-landing-1;
            font-size: 0.75rem;
            color: $color-black;
            button {
                background-color: $color-transparent;
                border: $color-transparent;
                cursor: pointer;
                transition: all .2s;
                &:hover {
                    color: $color-positive;
                }
            }
        }
        ::-webkit-input-placeholder {
            color: $color-font;
            font-size: 0.875rem;
            font-style: italic;
        }
        :-ms-input-placeholder {
            color: $color-font;
            font-size: 0.875rem;
            font-style: italic;
        }
        ::placeholder {
            color: $color-font;
            font-size: 0.875rem;
            font-style: italic;
        }
        :-ms-input-placeholder {
            color: $color-font;
            font-size: 0.875rem;
            font-style: italic;
        }
        ::-ms-input-placeholder {
            color: $color-font;
            font-size: 0.875rem;
            font-style: italic;
        }
    }
}
