.headercomponent {
    height: 4.7rem;
    @include respond(phone) {
        height: 5.9rem;
    }
    .header-logo,
    .headernarrow {
        background-color: $color-background-3;
    }
    .header-logo {
        padding-right: 0;
        @include respond(phone) {
            padding-right: 15px;
            height: 5.8rem;
            .grad {
                position: absolute;
                bottom: .2rem;
                left: 0;
                width: 100%;
                height: .18rem;
                background-image: -webkit-gradient(linear, left top, right top, from($color-links), color-stop($color-font-12), to($color-currency-reais));
                background-image: linear-gradient(to right, $color-links, $color-font-12, $color-currency-reais);
            }
            .select-crypto {
                text-align: center;
                font-size: 1.6rem;
                float: left;
                width: 100%;
                .mat-form-field-wrapper {
                    padding-bottom: 0 !important;
                }
            }
            h1 {
                display: none;
            }
        }
    }
    .header-logo-img {
        width: 45%;
        height: auto;
        display: block;
        margin: 0.5rem auto;
        cursor: pointer;
        &:focus {
            outline: unset;
        }
    }
    .h3 {
        display: inline-block;
        font-size: 2rem;
        color: $color-font-10;
        font-weight: 400;
        padding-top: 1rem;
        padding-right: 2rem;
    }
    h1 {
        margin: 1.25rem 0;
        color: $color-cool-grey;
        text-align: center;
        font-size: 1.6rem;
        float: left;
        width: 100%;
    }
    body {
        text-align: center;
    }
    .sidecollapse {
        display: none;
        float: right;
        color: $color-white;
        background-color: $color-border-8;
        height: 100%;
        font-size: 1.7rem;
        margin: 0;
        border: 0;
        position: absolute;
        right: 0;
        cursor: pointer;
        img {
            height: 1.25rem;
        }
    }
    .headerbuttonfull {
        background-color: $color-background-2;
    }
    .buttonfull {
        float: left;
        color: $color-white;
        background-color: $color-border-8;
        height: 100%;
        font-size: 1.4rem;
        margin: 0px;
        border: 0px;
        margin-left: -.9rem;
        cursor: pointer;
        img {
            height: 1.25rem;
        }
    }
    .buttonfull:focus,
    .sidecollapse:focus {
        outline: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .h2header {
        font-size: 1rem;
        text-transform: uppercase;
        color: $color-font-2;
        margin-top: 1.56rem;
        text-align: center;
    }
    .h3 {
        display: inline-block;
        font-size: 1.5rem;
        color: $color-font-10;
        font-weight: 400;
        margin-left: 2rem;
    }
    .menu-mobile {
        position: fixed;
        top: 1.7rem;
        left: 1.5rem;
        background-color: $color-transparent;
        border: none;
        border-radius: 0.4rem;
        z-index: 1;
        img {
            height: 2.5rem;
        }
    }
    @include respond(phone) {
        .ticker-header {
            display: none;
        }
    }
    @media (min-width: 760px) {
        .sidecollapse {
            display: inherit;
        }
    }
    @media (min-width: 760px) and (max-width: 770px) {
        .hide-tablet {
            display: none;
        }
        h1 {
            font-size: 1rem;
            margin: 1rem 0;
        }
        .h3 {
            margin-left: 1rem;
        }
    }
}
