// LANDING
.landing {
    &__navbar {
        padding: 2.2rem 2rem 2rem 2rem;
        font-size: 1rem;
        overflow-y: unset !important;
        & * {
            font-family: $font-landing-1;
        }
        &-list>* {
            -ms-flex-item-align: center;
            align-self: center;
        }
        &-link {
            text-decoration: unset;
            color: $color-background-3;
            margin-right: 2.1rem;
            &:hover {
                text-decoration: unset;
                color: $color-positive;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }
        &-btn--fill,
        &-btn--outline {
            margin-right: 1rem;
        }
        &-btn--outline {
            padding: 0.3rem 1rem;
        }
        &-forgot-password {
            float: right;
            position: absolute;
            top: 7rem;
            font-size: .8rem;
            right: 22.5rem;
        }
    }
    &__logo {
        max-width: 12rem;
        height: auto;
        margin-left: 1.3rem;
        cursor: pointer;
        &:focus {
            outline: unset;
        }
    }
}
