<div id="comofunciona" class="how-it-works">
    <app-navbar id="navbar"></app-navbar>
    <section class="title">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="heading-quarternary title__title">
                    {{ 'HowAbakateWorks' | translate }}?
                </h4>
                <p class="title__text">
                    {{ 'FreeInvestText' | translate }}.
                </p>
            </div>
        </div>
    </section>
    <section class="images">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="images__box">
                    <div class="images__box-1">
                        <div class="images__box-number images__box-number--1">
                            1
                        </div>
                        <div class="images__box-text images__box-text--1">
                            {{ 'DoYour' | translate | uppercase }}
                            <span>{{ 'sign' | translate }}</span>
                        </div>
                    </div>
                    <div class="images__box-2">
                        <div class="images__box-number images__box-number--2">
                            2
                        </div>
                        <div class="images__box-text images__box-text--2">
                            {{ 'Operate' | translate | uppercase }}
                        </div>
                    </div>
                    <div class="images__box-3">
                        <div class="images__box-number images__box-number--3">
                            3
                        </div>
                        <div class="images__box-text images__box-text--3">
                            {{ 'follow' | translate }}
                        </div>
                    </div>
                    <div class="images__line"></div>
                    <div class="images__dots"></div>
                    <button id="registro_comofunciona" routerLink="/novo-cadastro/passo-1" class="btn__btn btn__btn--fill images__btn">{{ 'IWant' | translate }}!</button>
                </div>
            </div>
            <div id="ideia_comofunciona" class="col-12 text-center">
                <div class="images__title">
                    {{ 'InAbakateYouPay' | translate }}
                </div>
                <div class="images__value">
                    <span>R$0,00</span> {{ 'commission' | translate }}
                </div>
                <div class="images__text">
                    {{ 'YesNoCommissions' | translate }}
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="row justify-content-center info__infos">
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-deposito.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--1">
                    {{ 'NoDepositTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--1">
                    {{ 'DepositStart' | translate }}
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-resgate.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--2">
                    {{ 'NoRescueTax' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--2">
                    {{ 'RescueWhen' | translate }}
                </p>
                <div class="info__dots"></div>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="info__img" src="../../assets/img/landing-lupa.svg" alt="Deposito">
                <h5 class="heading-fifth info__heading--3">
                    {{ 'NoComplications' | translate | uppercase }}
                </h5>
                <p class="info__text info__text--small info__text--3">
                    {{ 'SimpleOperate' | translate }}
                </p>
            </div>
        </div>
    </section>
    <section id="assinatura" class="sign">
        <div class="row justify-content-center">
            <div class="col-10 col-md-4 text-center">
                <h4 class="heading-quarternary mb-3">
                    {{ 'SignAbakate' | translate }}
                </h4>
                <p class="sign__text sign__text--big">
                    {{ 'MonthlySign' | translate }}
                    <span>R$XX,XX</span>
                    {{ 'youCanOperate' | translate }}
                </p>
                <p class="sign__text sign__text--medium">
                    {{ 'SignExplain' | translate }} R$ {{ 'or' | translate }} {{ 'cryptos' | translate }}.
                    <br>
                    <i>{{ 'NoCreditCard' | translate }}.</i>
                </p>
                <p class="sign__text sign__text--small">
                    <span>{{ 'WeDontCharge' | translate }}.</span>
                </p>
                <p class="sign__text sign__text--small">
                    {{ 'TaxApplied' | translate }}: *
                    <br> ({{ 'WITHDRAW' | translate }}) {{ 'DOC' | translate }}/{{ 'TED' | translate }} {{ 'bankCharged' | translate
                    }}
                </p>
                <p class="sign__text sign__text--small">
                    * {{ 'exemptBanks' | translate }}:
                    <br>Caixa Econômica Federal
                </p>
                <button id="registro_assinatura" class="btn__btn btn__btn--fill landing__navbar-btn--fill m-0 px-4" routerLink="/novo-cadastro/passo-1">
                    {{ 'Sign' | translate }}
                </button>
                <button id="guia_assinatura" class="btn__btn btn__btn--outline sign__btn" routerLink="">
                    {{ 'KnowMore' | translate }}
                </button>
            </div>
        </div>
    </section>
    <app-l-footer></app-l-footer>
    <div class="scroll-to-top">
        <a [ngx-scroll-to]="'navbar'">&uArr;</a>
    </div>
</div>
