<div class="sign-up__password-str-bar">
    <div class="sign-up__password-str-text">
        <i>{{ 'passwordStr' | translate }}:</i>
    </div>
    <ul class="sign-up__password-str-bars">
        <li class="sign-up__password-str-point" [style.background-color]="bar0"></li>
        <li class="sign-up__password-str-point" [style.background-color]="bar1"></li>
        <li class="sign-up__password-str-point" [style.background-color]="bar2"></li>
        <li class="sign-up__password-str-point" [style.background-color]="bar3"></li>
        <li class="sign-up__password-str-point" [style.background-color]="bar4"></li>
    </ul>
</div>
