<!-- http://docs.amcharts.com/3/javascriptstockchart/AmCharts -->
<div class="candlestick">

    <div id="candlechartdiv" class="candlechartdiv"></div>

    <div class="col-md-10 col-12 candlestick-tiker">
        <ticker></ticker>
    </div>

    <!-- CHART TITLE -->
    <div class="candlestick-title">
        {{ 'priceChart' | translate | uppercase }}
    </div>
    <!-- FILTERS -->
    <div class="candlestick-filter-box">
        <!-- CONSOLIDATE -->
        <div class="candlestick-filter">{{ 'Consolidate' | translate }}:</div>
        <mat-form-field class="candlestick-filter-select">
            <mat-select [(value)]="consolidateSelected" (selectionChange)="agregate($event)">
                <mat-option *ngFor="let option of consolidateOptions" value="{{option}}">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-chip-list class="candlestick-buttons-mobile">
            <mat-chip class="candlestick-button" *ngFor="let option of consolidateOptionsMobile" (click)="agregateMobile(option)" value="{{option}}">
                {{ option }}
            </mat-chip>
            <mat-chip (click)="toggleBookGraf()" class="candlestick-button-close">
                X
            </mat-chip>
        </mat-chip-list>

        <!-- TIME -->
        <div class="candlestick-filter" [ngClass]=" consolidated === false ? 'candlestick-none' : 'candlestick-inline'">{{ 'time' | translate }}:</div>
        <mat-form-field class="candlestick-filter-select-time" [ngClass]=" consolidated === false ? 'candlestick-none' : 'candlestick-inline'">
            <mat-select [(value)]="timeSelected" (selectionChange)="selectTime($event)">
                <mat-option value="last5min">
                    {{ 'Lasts' | translate }} 5m
                </mat-option>
                <mat-option value="last15min">
                    {{ 'Lasts' | translate }} 15m
                </mat-option>
                <mat-option value="last1day">
                    {{ 'Lasts' | translate }} 1d
                </mat-option>
                <mat-option value="last1month">
                    {{ 'Last' | translate }} {{ 'month' | translate }}
                </mat-option>
                <mat-option value="allPeriod">
                    {{ 'All' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
