<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <div class="sign-up__step mt-5">
            <span>05.</span> {{ 'AccessPass' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step8">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-12">
                    <label class="sign-up__form-label" for="password">{{ 'Password' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="password" name="password" id="password" placeholder="{{ 'Password' | translate }}"
                            formControlName="password" [(ngModel)]="password" (keyup.enter)="keytab($event)" minlength=8>
                        <span *ngIf="step8.get('password').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!step8.get('password').valid && step8.get('password').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!step8.get('password').valid && step8.get('password').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidPassword' | translate }}</i>
                    </span>
                </div>
                <div class="col-xl-5 col-12 col-md-6">
                    <label class="sign-up__form-label" for="confirmPassword">{{ 'ConfirmPassword' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="password" name="confirmPassword" id="confirmPassword" placeholder="{{ 'ConfirmPassword' | translate }}"
                            formControlName="confirmPassword" [(ngModel)]="confirmPassword" (keyup.enter)="keytab($event)" minlength=8>
                        <span *ngIf="step8.get('confirmPassword').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="(step8.get('password').value !== step8.get('confirmPassword').value) && step8.get('confirmPassword').touched"
                            class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="(step8.get('password').value !== step8.get('confirmPassword').value) && step8.get('confirmPassword').touched"
                        class="sign-up__form-invalid">
                        <i>{{ 'DifferentPasswords' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
        <div class="sign-up__password-text">
            <i>{{ 'passwordText' | translate }}.</i>
        </div>
        <div class="sign-up__password-str sign-up__password-lines">
            <app-password-strength-bar [passwordToCheck]="password" (passStrength)="checkStrength($event)"></app-password-strength-bar>
        </div>
    </div>
    <div class="col-md-8 col-12">
        <div class="sign-up__terms">
            <div>
                <mat-checkbox [(ngModel)]="br" [checked]="br">
                    <i>{{ 'NotUSA' | translate }}</i>
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="privateP" [checked]="privateP">
                    <i>{{ 'NotPublic' | translate }}</i>
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="acceptTerms" [checked]="acceptTerms">
                    <i>{{ 'IAgree' | translate }}
                        <span class="sign-up__terms-text" (click)="openTermsDialog()"> {{ 'useTerms' | translate }} </span>{{ 'and' | translate }}
                        <span class="sign-up__terms-text" (click)="openPrivacyDialog()"> {{ 'privacyPolicy' | translate }}</span>
                    </i>
                </mat-checkbox>
            </div>
        </div>
        <div class="text-center">
            <button class="btn__btn  btn__btn--outline btn__btn--outline-disabled" routerLink="/novo-cadastro/passo-7">
                {{ 'Previous' | translate }}
            </button>
            <button id="btn_submit" class="btn__btn btn__btn--outline" (click)="createSignUp()">
                {{ 'Register' | translate }}
            </button>
        </div>
    </div>
</div>
