<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <h4 class="heading-quarternary sign-up__title mt-0">
            {{ 'SignUpAbakateAnd' |translate }}...
        </h4>
        <div class="sign-up__text">
            {{ 'OnlyHereYou' |translate }}.
        </div>
        <div class="sign-up__step">
            <span>01.</span> {{ 'PersonalData' | translate }}
        </div>
        <div class="sign-up__bar--fill">
            <div *ngFor="let fill of fills"></div>
        </div>
        <div class="sign-up__bar--blank">
            <div *ngFor="let blank of blanks"></div>
        </div>
        <form class="sign-up__form" [formGroup]="step1">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-12">
                    <label class="sign-up__form-label" for="name">{{ 'CompleteName' | translate | uppercase }} ({{ 'asInID' | translate | uppercase }})</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="text" name="name" id="name" placeholder="{{ 'Name' | translate }}" formControlName="name"
                            [(ngModel)]="userName" (keyup.enter)="keytab($event)" autofocus>
                        <span *ngIf="step1.get('name').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!step1.get('name').valid && step1.get('name').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!step1.get('name').valid && step1.get('name').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidName' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-10 col-md-8 text-center">
        <button id="btn_next01" [disabled]="!step1.get('name').valid" class="btn__btn btn__btn--outline mr-5" routerLink="/novo-cadastro/passo-2"
            (click)="createSignUp()">
            {{ 'Next' | translate }}
        </button>
    </div>
</div>
