<div class="book-r">
    <!-- TICKER -->
    <div class="row">
        <div class="col-12">
            <div class="book-r__ticker">
                <!-- ICON -->
                <div class="book-r__ticker-icon">
                    <img src="../../assets/img/icon_Bitcoin.svg" alt="BTC">
                </div>
                <!-- VOLUME -->
                <div class="book-r__ticker-volume">
                    <div class="book-r__ticker-volume--title">{{ 'last24h' | translate }}</div>
                    <div class="book-r__ticker-volume--value text-right">{{ volume | number:'1.3-3' }}
                        <span>BTC</span>
                    </div>
                    <div class="text-right book-r__ticker-volume--text">{{ 'Volume' | translate | uppercase }}</div>
                </div>
                <!-- VARIATION -->
                <div class="book-r__ticker-variation">
                    <div *ngIf="variation === 0" class="text-center book-r__ticker-variation--zero">0 %</div>
                    <div *ngIf="variation > 0" class="text-center book-r__ticker-variation--positive">+{{variation}} %</div>
                    <div *ngIf="variation < 0" class="text-center book-r__ticker-variation--negative">{{variation}} %</div>
                    <div class="text-center book-r__ticker-variation--text">{{ 'Variation' | translate | uppercase }}</div>
                </div>
                <!-- DIVIDER -->
                <div class="book-r__ticker-divider"></div>
                <!-- LAST TRADE -->
                <div class="book-r__ticker-last">
                    <div class="book-r__ticker-last--value">{{ lastPrice | currency:'BRL' }}</div>
                    <div class="book-r__ticker-last--text">{{ 'lastTradePrice' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOOK -->
    <div class="row">
        <div class="col-12">
            <!-- LEFT -->
            <div class="fullbook">
                <div class="halfbook leftbook">
                    <table id="orderbook" class="tableleftbook">
                        <tr *ngFor="let bid of bids;trackBy: trackByFnBid">
                            <td class="bookline barcell">
                                <div class="leftbar" [style.width.px]="bid.normalizedAmount">&nbsp;</div>
                            </td>
                            <td class="bookline amountcell">{{ bid.amountOne }}<span class="weak">{{ bid.amountTwo }}</span>
                            </td>
                            <td class="bookline pricecell bidprice">
                                <span class="weak">{{ bid.priceOne }}</span>{{ bid.priceTwo }}
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- RIGHT -->
                <div class="halfbook rightbook">
                    <table id="orderbook" class="tablerightbook">
                        <tr *ngFor="let ask of asks;trackBy: trackByFnAsk" class="bookline">
                            <td class="bookline pricecell askprice">
                                <span class="weak">{{ ask.priceOne }}</span>{{ ask.priceTwo }}</td>
                            <td class="bookline amountcell">{{ ask.amountOne }}<span class="weak">{{ ask.amountTwo }}</span>
                            </td>
                            <td class="bookline barcell">
                                <div class="rightbar" [style.width.px]="ask.normalizedAmount">&nbsp;</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
