<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <h4 class="heading-quarternary sign-up__title">
            {{ 'ForgotPassword' |translate }}?
        </h4>
        <div class="sign-up__text">
            {{ 'NoProblemEmail' | translate }}.
        </div>
        <form class="sign-up__form" [formGroup]="forgot">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <label class="sign-up__form-label" for="email">{{ 'Email' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="email" name="email" id="email" placeholder="{{ 'EmailPlaceholder' | translate }}"
                            formControlName="email" [(ngModel)]="email" (keyup.enter)="resetPassword(email)">
                        <span *ngIf="forgot.get('email').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!forgot.get('email').valid && forgot.get('email').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!forgot.get('email').valid && forgot.get('email').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidEmail' | translate }}</i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-10 col-md-8 text-left">
        <button id="next" [disabled]="!forgot.get('email').valid" class="btn__btn btn__btn--fill" (click)="resetPassword(email)">
            {{ 'RecoverPassword' | translate }}
        </button>
    </div>
</div>
