<div class="sidemenu">
    <div *ngIf="sidebarMode == 'full'  && loggedIn">
        <div>
            <div class="sidemenu-close visible-mobile hide-desktop hide-big">
                <button (click)="toggleMenuMobile()">
                    <img src="./assets/img/icon_close.svg" />
                </button>
            </div>
            <div class="sidebar-user-xp-border">
                <svg height="100%" width="100%" viewBox="0 0 120 120" style="transform: rotate(270deg);">
                    <circle *ngFor="let xp of userXP; let i = index" cx="60" cy="60" r="50" fill="transparent" stroke-width="8" [attr.stroke-dasharray]="getPerimeter(50)"
                        [attr.stroke-dashoffset]="getOffset(50,i)" [attr.stroke]="getColor(i)" />
                </svg>
                <div class="sidebar-avatar">
                    <img *ngIf="userAvatar; else imgContent" src="{{ userAvatar }}" title="{{ userName }}">
                    <ng-template #imgContent>
                        <img src="{{ defaultUserAvatar }}" title="{{ userName }}">
                    </ng-template>
                </div>
            </div>
            <p class="sidebar-user-name hide-mobile">{{ userNickname }}</p>
        </div>
        <div class="buttons hide-mobile">
            <button routerLink="/home/trade" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Home' | translate }}">
                <img src="./assets/img/icon_Transactions.svg" />
            </button>
            <button routerLink="/home/extrato" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Statements' | translate }}">
                <img src="./assets/img/icon_Account.svg" />
            </button>
            <button routerLink="/home/notificacoes" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Notifications' | translate }}">
                <img src="./assets/img/icon_Notification.svg" />
            </button>
            <button routerLink="/home/profile" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Profile' | translate }}">
                <img src="./assets/img/icon_UserBalance.svg" />
            </button>
            <!-- Future implementation
                <button routerLink="/home/seguranca" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Safety' | translate }}">
                    <img src="./assets/img/icon_Safety.svg" />
                </button>
            -->
            <button routerLink="/home/ajustes" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Settings' | translate }}">
                <img src="./assets/img/icon_Settings.svg" />
            </button>
        </div>

        <div class="wallet-full">
            <app-wallet></app-wallet>
        </div>

        <div class="buttons visible-mobile hide-desktop hide-big">
            <button routerLink="/home/trade" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Home' | translate }}">
                <img src="./assets/img/icon_Transactions.svg" />
                <p>book de ofertas</p>
            </button>
            <button routerLink="/home/extrato" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Statements' | translate }}">
                <img src="./assets/img/icon_Account.svg" />
                <p>extrato</p>
            </button>
            <button routerLink="/home/notificacoes" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Notifications' | translate }}">
                <img src="./assets/img/icon_Notification.svg" />
                <p>notificações</p>
            </button>
            <!-- Future implementation
                <button routerLink="/home/seguranca" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Safety' | translate }}">
                    <img src="./assets/img/icon_Safety.svg" />
                    <p>segurança</p>
                </button>
            -->
            <button routerLink="/home/ajustes" routerLinkActive="currentPage" (click)="toggleMenuMobile()" class="actionbtn" title="{{ 'Settings' | translate }}">
                <img src="./assets/img/icon_Settings.svg" />
                <p>ajustes</p>
            </button>
            <button routerLinkActive="currentPage" class="actionbtn logout" title="{{ 'Log Out' | translate }}" (click)="logout()">
                <img src="./assets/img/icon_Logout.svg" />
                <p>sair</p>
            </button>
        </div>

    </div>
    <div *ngIf="sidebarMode == 'collapse' && loggedIn">
        <div class="narrow">
            <div (click)='popProfile()'>
                <div class="sidebar-collapse-user-xp-border">
                    <svg height="100%" width="100%" viewBox="0 0 120 120" style="transform: rotate(270deg);">
                        <circle *ngFor="let xp of userXP; let i = index" cx="60" cy="60" r="50" fill="transparent" stroke-width="8" [attr.stroke-dasharray]="getPerimeter(50)"
                            [attr.stroke-dashoffset]="getOffset(50,i)" [attr.stroke]="getColor(i)" />
                    </svg>
                    <div class="sidebar-collapse-avatar">
                        <img *ngIf="userAvatar; else imgContent" src="{{ userAvatar }}" title="{{ userName }}">
                        <ng-template #imgContent>
                            <img src="{{ defaultUserAvatar }}" title="{{ userName }}">
                        </ng-template>
                    </div>
                </div>
            </div>
            <button routerLink="/home/trade" routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Home' | translate }}">
                <img src="./assets/img/icon_Transactions.svg" />
            </button>
            <button routerLink="/home/extrato" routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Statements' | translate }}">
                <img src="./assets/img/icon_Account.svg" />
            </button>
            <button (click)='popOrder()' routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Order Entry' | translate }}">
                <img src="./assets/img/icon_BuySell.svg" />
            </button>
            <button (click)='popWithDep()' routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Withdrawal' | translate }}">
                <img src="./assets/img/icon_withdraw.svg" />
            </button>
            <button routerLink="/home/notificacoes" routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Notifications' | translate }}">
                <img src="./assets/img/icon_Notification.svg" />
            </button>
            <!-- Future implementation
                <button routerLink="/home/seguranca" routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Safety' | translate }}">
                    <img src="./assets/img/icon_Safety.svg" />
                </button>
            -->
            <button routerLink="/home/ajustes" routerLinkActive="currentPage" class="collapse-actionbtn" title="{{ 'Settings' | translate }}">
                <img src="./assets/img/icon_Settings.svg" />
            </button>
        </div>
    </div>
    <div class="sidebar-mode" *ngIf="sidebarMode == 'full' && !loggedIn">
        <img src="./assets/img/loading.gif" />
        <p>{{ 'loadingUserData' | translate }}</p>
    </div>
    <div class="sidebar-mode" *ngIf="sidebarMode == 'collapse' && !loggedIn">
        <img src="./assets/img/loading.gif" />
    </div>
</div>
