<nav id="chamada" class="navbar navbar-expand-md">
    <div class="container-fluid landing__navbar">
        <img src="./../../assets/img/abakate-logo.svg" alt="Menu" class="navbar-brand landing__logo" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#abakate-nav" aria-controls="abakate-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <img src="./../../assets/img/icon-list.svg" alt="Menu">
        </button>
        <div id="abakate-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto landing__navbar-list">
                <li class="nav-item">
                    <a class="landing__navbar-link" routerLink="/como-funciona">{{ 'HowItWorks' | translate }}?</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropdown-toggle btn__btn landing__navbar-dropdown" type="button" data-toggle="dropdown">
                            {{ 'Help' | translate }}
                        </button>
                        <div class="dropdown-menu landing__navbar-dropdown--menu">
                            <a id="guia_geral" class="dropdown-item landing__navbar-dropdown--item" href="#">{{ 'AbakateGuide' | translate }}</a>
                            <a id="guia_seguranca" class="dropdown-item landing__navbar-dropdown--item" href="#">{{ 'Safety' | translate }}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form *ngIf="!auth.isAuthenticated();">
                        <button id="btn_registro" class="btn__btn btn__btn--outline landing__navbar-btn--outline" routerLink="/novo-cadastro/passo-1">
                            {{ 'SignUp' | translate }}
                        </button>
                        <button id="btn_login" class="btn__btn btn__btn--fill landing__navbar-btn--fill" routerLink="/login/signin">
                            {{ 'Login' | translate | uppercase }}
                        </button>
                    </form>
                    <button *ngIf="auth.isAuthenticated()" class="btn__btn btn__btn--fill landing__navbar-btn--fill" routerLink="/home/trade">{{ 'SignInLogin' | translate | uppercase }}</button>
                    <button *ngIf="auth.isAuthenticated()" class="btn__btn btn__btn--fill landing__navbar-btn--fill" (click)="logout()">{{ 'Exit' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
