<div class="jobs">
    <app-navbar></app-navbar>
    <div class="row jobs__row">
        <div class="col-12 jobs__banner">
            <div class="jobs__left">
                <h2 class="jobs__left-title">
                    {{ 'MakePart' | translate }}
                </h2>
                <h2 class="jobs__left-subtitle">
                    {{ 'OurTeam' | translate }}
                </h2>
            </div>
            <div class="jobs__right">
                {{ 'AtAbakateWe' | translate }}
            </div>
        </div>
        <div *ngIf="!jobs" class="col-12 text-center">
            <p class="jobs__text">
                {{ 'NoVacancy' | translate }}.
            </p>
            <p class="jobs__text">
                {{ 'VacancySocials' | translate }}.
            </p>
            <div class="jobs__social">
                <img src="../../assets/img/facebook.svg" alt="Facebook" class="jobs__social-icon">
                <img src="../../assets/img/twitter.svg" alt="Twitter" class="jobs__social-icon">
                <img src="../../assets/img/instagram.svg" alt="Instagram" class="jobs__social-icon">
                <img src="../../assets/img/linkedin.svg" alt="LinkedIn" class="jobs__social-icon">
            </div>
        </div>
        <div *ngIf="jobs" class="col-9 jobs__vacancy">
            <div class="jobs__vacancy-filters">
                <button class="btn__btn btn__btn--fill" [ngClass]="all === false ? 'jobs__vacancy-btn' : ''" (click)="filter(1)">{{ 'allF' | translate }}</button>
                <button class="btn__btn btn__btn--fill" [ngClass]="dev === false ? 'jobs__vacancy-btn' : ''" (click)="filter(2)">{{ 'Development' | translate }}</button>
                <button class="btn__btn btn__btn--fill" [ngClass]="mkt === false ? 'jobs__vacancy-btn' : ''" (click)="filter(3)">{{ 'Mkt&Des' | translate }}</button>
                <button class="btn__btn btn__btn--fill" [ngClass]="sup === false ? 'jobs__vacancy-btn' : ''" (click)="filter(4)">{{ 'Sup&Adm' | translate }}</button>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 jobs__vacancy-box">
                    <h4 class="jobs__vacancy-area">{{ 'Area' | translate }}</h4>
                    <h3 class="jobs__vacancy-title">Analista de Sistemas</h3>
                    <h5 class="jobs__vacancy-city">São Paulo, Brasil</h5>
                    <button class="btn__btn btn__btn--fill d-block mx-auto" (click)="loadVacancy(id)">{{ 'KnowMore' | translate }}</button>
                </div>
                <div class="col-12 col-md-4 jobs__vacancy-box">
                    <h4 class="jobs__vacancy-area">{{ 'Area' | translate }}</h4>
                    <h3 class="jobs__vacancy-title">Analista de Sistemas</h3>
                    <h5 class="jobs__vacancy-city">São Paulo, Brasil</h5>
                    <button class="btn__btn btn__btn--fill d-block mx-auto" (click)="loadVacancy(id)">{{ 'KnowMore' | translate }}</button>
                </div>
                <div class="col-12 col-md-4 jobs__vacancy-box">
                    <h4 class="jobs__vacancy-area">{{ 'Area' | translate }}</h4>
                    <h3 class="jobs__vacancy-title">Analista de Sistemas</h3>
                    <h5 class="jobs__vacancy-city">São Paulo, Brasil</h5>
                    <button class="btn__btn btn__btn--fill d-block mx-auto" (click)="loadVacancy(id)">{{ 'KnowMore' | translate }}</button>
                </div>
                <div class="col-12 col-md-4 jobs__vacancy-box">
                    <h4 class="jobs__vacancy-area">{{ 'Area' | translate }}</h4>
                    <h3 class="jobs__vacancy-title">Analista de Sistemas</h3>
                    <h5 class="jobs__vacancy-city">São Paulo, Brasil</h5>
                    <button class="btn__btn btn__btn--fill d-block mx-auto" (click)="loadVacancy(id)">{{ 'KnowMore' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
