<div class="edit-password">
    <div class="btn-dimensions-close">
        <button class="btn-close" title="{{ 'Log Out' | translate }}" (click)=" onNoClick()">
            <img src="./assets/img/icon_close.svg" />
        </button>
    </div>
    <mat-dialog-title>
        <div class="align-title">
            <div class="pt-12 ">
                <span class="title">
                    {{'ExchangePassword' | translate}}
                </span>
            </div>
        </div>
        <hr class="line-title">
    </mat-dialog-title>
    <mat-dialog-content class="data-dimensions">
        <form [formGroup]="accountForm">
            <div class="row">
                <div class="col-12">
                    <label class="sign-up__form-label" for="bank">{{'CurrentPassword' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="password" name="bank" id="bank" placeholder="{{'CurrentPassword' | translate }}" formControlName="bank"
                        [pattern]="bankPattern" [(ngModel)]="bank">
                    <span *ngIf="!accountForm.get('bank').valid && accountForm.get('bank').touched" class="settings-invalid">{{ 'invalidBank' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="pt-3 col-12">
                    <label class="sign-up__form-label" for="agency">{{'NewPassword' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="password" name="agency" id="agency" placeholder="{{'NewPassword' | translate }}" formControlName="agency"
                        [pattern]="agencyPattern" [(ngModel)]="agency">
                    <span *ngIf="!accountForm.get('agency').valid && accountForm.get('agency').touched" class="settings-invalid">{{ 'invalidAgency' | translate }}</span>
                </div>
                <div class="pt-3 col-12">
                    <label class="sign-up__form-label" for="account">{{'ConfirmPassword' | translate | uppercase}} </label>
                    <input class="sign-up__form-input label-checkbox" type="password" name="account" id="account" placeholder="{{'ConfirmPassword' | translate }}"
                        formControlName="account" [(ngModel)]="account">
                </div>
            </div>
        </form>
        <div class="pt-4">
            <hr class="line">
        </div>

    </mat-dialog-content>

    <mat-dialog-actions class="data-dimensions btn-register">
        <button *ngIf="accountForm.status === 'VALID'; else saveBtn" class="btn btn-primary" (click)="onSubmit()"> {{ 'Register' | translate }} {{'NewPassword' | translate }}</button>
        <ng-template #saveBtn>
            <button mat-button *ngIf="accountForm.status === 'INVALID'" (click)="onSubmit()" disabled="true" cdkFocusInitial>{{ 'Register' | translate }} {{'NewPassword' | translate }}</button>
        </ng-template>
    </mat-dialog-actions>
</div>

