<div class="shared-input-base">
    <mat-form-field class ="align-left">
        <span [hidden] = "crypto" class="crypto-type">{{cryptoType}}</span>
        <input matInput [ngClass]="{'crypto-currency': !crypto==true}"  placeholder="{{placeholder}}" cryptoType="{{cryptoType}}" [formControl]="inputBaseControl" 
         type="number" (keyup)="changeValue(value)" (change)="changeValue(value)" [(ngModel)]="value" (keyup)="onKey($event)">
        <mat-error *ngIf="inputBaseControl.hasError('min')" >
            {{'priceFormatNegativeError'|translate}}
        </mat-error>
        <mat-error *ngIf="inputBaseControl.hasError('required')" >
            {{'required'|translate}}
        </mat-error>
    </mat-form-field>
</div>
