<div class="withdraw-deposit-component">
    <buttontoggle [value]="'ClientDeposit'" (selectChanges)="selectDepositWithdrawal($event)" [options]="['ClientDeposit','Withdrawal']"></buttontoggle>
    <div class="form-group">
        <div class="coin-select">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <h2 class="coin"> {{ 'Currency' | translate | uppercase }}: </h2>
                </div>
                <div class="p-1 align-mat-form align-type-currency">
                    <mat-form-field>
                        <mat-select [(value)]="symbolSelected" (change)="onChangedSymbol($event)">
                            <mat-option *ngFor="let symbol of availableSymbols" value="{{symbol}}">
                                {{ symbol }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="(accountsLength == 0) && !(isCurrencySelected && !isWithdrawal || !isCurrencySelected && isWithdrawal)">
                <h2 *ngIf="isCurrencySelected;else cryptoSelected" class="end-empty">{{ 'noFiatAddress' | translate }}</h2>
                <ng-template #cryptoSelected>
                    <h2 class="end-empty">{{ 'noCryptoAddress' | translate }}</h2>
                </ng-template>

            </div>
            <div *ngIf="(accountsLength == 0) && !(isCurrencySelected && !isWithdrawal || !isCurrencySelected && isWithdrawal)">
                <button class="btn btn-primary btn-send" (click)="openDialog()"> {{ 'Register' | translate }} </button>
                <!-- <span > <i class="fas fa-plus" id ="addAddress"> </i> </span> -->
            </div>
            <input-currency *ngIf="(isCurrencySelected && !isWithdrawal) || (isCurrencySelected && accountsLength != 0)" (selectChangePrice)="priceValue($event)"
                [value]="fiatValue" [placeholder]="'Value' | translate"></input-currency>
            <ng-container *ngIf="accountsLength != 0">
                <div *ngIf="!isCurrencySelected && !isWithdrawal" class="coin-select d-flex" id="adressDeposit">
                    <mat-form-field>
                        <mat-icon *ngIf="!select.value" matPrefix> error </mat-icon>
                        <mat-select #select [(value)]="adressSelected" placeholder="{{'DepositAddress' | translate}}">
                            <mat-option *ngFor="let account of accountSelected" value="{{account.address}}">
                                <span> {{ account.address | slice:0:22 }}... </span>
                                
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <inputbase *ngIf="(!isCurrencySelected && isWithdrawal && accountsLength != 0) || (!isCurrencySelected && isWithdrawal)"
                (selectChangePrice)="priceValue($event)" [placeholder]="'Value' | translate | uppercase"></inputbase>

            <div *ngIf="!isCurrencySelected && isWithdrawal" class="shared-input-base">
                <mat-form-field class="align-left">
                    <input matInput placeholder="{{'Address' | translate | uppercase}}" (keyup)="addressValue(value)" (change)="addressValue(value)"
                        [(ngModel)]="value">
                </mat-form-field>
            </div>


            <ng-container *ngIf="accountsLength != 0">
                <div *ngIf="isWithdrawal && isCurrencySelected" class="d-flex coin-select" id="adressWithdraw">
                    <mat-form-field>
                        <mat-select [(value)]="adressSelected" placeholder="{{'withdrawalAddress' | translate}}">
                            <mat-option *ngFor="let account of accountSelected" value="{{account.address}}">
                                <span>{{ account.address }} </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <div id="qrcode" *ngIf="!isCurrencySelected && !isWithdrawal && cryptoAddress != ''">
                <p>{{'sendYourCrypto' | translate }}</p>
                <div class="qrcode-box">
                    <qrcode [qrdata]="cryptoAddress" [size]="80" [level]="'M'"></qrcode>
                </div>
                <div class ="d-flex flex-row">
                    <p class="qrcode-address pt-3">{{cryptoAddress}}</p>
                    <span class="copy-text" ngxClipboard (click)="isCopied()" (cbOnSuccess)="copy = true"  [cbContent]="cryptoAddress"><img src="../../assets/img/icon_X.svg" /> </span>
                </div>
            </div>
            <br />
            <button *ngIf="isCurrencySelected || (!isCurrencySelected && isWithdrawal)" class="btn btn-primary btn-send" (click)="onSubmit()"
                [disabled]="isCurrencySelected?
                (
                    (
                        (fiatValue==0 || fiatValue==null) && !isWithdrawal
                    )
                        ||
                    (
                        (
                            (fiatValue==0 || fiatValue==null) && isWithdrawal
                        )
                            ||
                        ((adressSelected=='' || adressSelected==null) && isWithdrawal)
                    )
                )
                :
                    (cryptoQty==0  || cryptoQty==null || address=='' || address == null) ">{{'submit' | translate }}</button>
        </div>
    </div>
</div>