<div class="row justify-content-center no-gutters">
    <div class="col-10 col-md-8">
        <h4 class="heading-quarternary sign-up__title sign-up__title--success">
            {{ 'SignUpSuccess' |translate }}!
        </h4>
        <div class="sign-up__text sign-up__text--medium">
            {{ 'SignUpTY' |translate }}.
            <br> {{ 'nowAccessExchange' |translate }}.
        </div>
        <div class="sign-up__text sign-up__text--small">
            {{ 'SignUpCompleteTxt' |translate }}.
        </div>
        <div class="sign-up__text sign-up__text--btn">
            <button id="btn_login" class="btn__btn btn__btn--fill" routerLink="/login/signin">
                {{ 'SeeExchange' | translate }}
            </button>
        </div>
    </div>
</div>
