<div class="trading-component">
    <div class="row">
        <div class="col-xl col{{sidebarMode=='collapse'?'':'-12'}}">
            <div class="row" [ngClass]="{'top-content-full': collapseBtn, 'top-content-half': !collapseBtn}">

                <div *ngIf="mobWidth < 600 ; then thenBlock else elseBlock"></div>

                <!-- TEMPLATE MOBILE -->
                <ng-template #thenBlock>
                    <!-- BOOK/QUOTEPANEL -->
                    <button class="bookGraf" (click)="toggleBookGraf()" [ngClass]=" bookGraf == true ? 'visible-mobile' : 'hide-mobile'">
                        <img src="../../../assets/img/buttonBook.png">
                    </button>

                    <div class="col-md-7 col-12 candlechart-mobile" [ngClass]=" bookGraf == true ? 'book-graf-hide' : 'book-graf-visible'">
                        <app-candlechart [chartType]="chartMobile"></app-candlechart>
                    </div>
                    <div class="col-md-5 col-12 nopadding mobile">
                        <div class="col-md-10 col-12" [ngClass]=" bookGraf == true ? 'ticker-visible' : 'ticker-hide'">
                            <ticker></ticker>
                        </div>
                        <!-- TABS -->
                        <img class="book-tab-second-icon" src="../../assets/img/icon_OrderBook.svg">
                        <button class="book-tab-mobile" (click)="toggleBookGraf()">{{ 'OrderBook' | translate | uppercase }}</button>
                        <!-- END TABS -->
                        <!-- BOOK -->
                        <div class="scroll" *ngIf="currentBookTab === 0">
                            <app-book [bookConsolidated]="bookConsolidated"></app-book>
                        </div>
                        <!-- END BOOK -->
                        <!-- QUOTEPANEL -->
                        <div *ngIf="currentBookTab === 1">
                            <app-quotepanel></app-quotepanel>
                        </div>
                        <!-- END QUOTEPANEL -->
                        <div class="book-consolidate">
                            <mat-checkbox [(ngModel)]="bookConsolidated" [checked]="bookConsolidated">{{ 'Consolidated' | translate }}</mat-checkbox>
                        </div>
                    </div>
                    <!-- END BOOK/QUOTEPANEL -->
                    <!-- CHART -->
                </ng-template>
                <!-- END TEMPLATE MOBILE -->

                <!-- TEMPLATE DESKTOP -->
                <ng-template #elseBlock>
                    <div class="col-md-5 col-12 nopadding mobile">
                        <!-- TABS -->
                        <img class="book-tab-first-icon " src="../../assets/img/icon_Transactions.svg">
                        <img class="book-tab-second-icon" src="../../assets/img/icon_OrderBook.svg">
                        <button mat-button class="book-tab" (click)="currentBookTab=0" [ngClass]="{'book-active-tab': currentBookTab === 0}">{{ 'OrderBook' | translate | uppercase }}</button>
                        <!-- <div class="tab-btn-separator "></div>
                        <button mat-button class="book-tab" (click)="currentBookTab=1" [ngClass]="{'book-active-tab': currentBookTab === 1}">{{ 'QuotePanel' | translate | uppercase }}</button> -->
                        <!-- END TABS -->
                        <!-- BOOK -->
                        <div class="scroll" *ngIf="currentBookTab === 0">
                            <app-book [bookConsolidated]="bookConsolidated"></app-book>
                        </div>
                        <!-- END BOOK -->
                        <!-- QUOTEPANEL -->
                        <div *ngIf="currentBookTab === 1">
                            <app-quotepanel></app-quotepanel>
                        </div>
                        <!-- END QUOTEPANEL -->
                        <div class="book-consolidate">
                            <mat-checkbox [(ngModel)]="bookConsolidated" [checked]="bookConsolidated">{{ 'Consolidated' | translate }}</mat-checkbox>
                        </div>
                    </div>
                    <!-- END BOOK/QUOTEPANEL -->
                    <!-- CHART -->
                    <div class="col-md-7 col-12 nopadding trading-depthchart">
                        <app-candlechart [chartType]="chartDesktop"></app-candlechart>
                        <div *ngIf="collapseBtn">
                            <app-depthchart></app-depthchart>
                        </div>
                    </div>
                    <!-- END CHART -->
                </ng-template>
                <!-- END TEMPLATE DESKTOP -->
            </div>
            <!-- HISTORY/OPERATIONS -->
            <div class="row bottom-content-row hide-mobile">
                <div *ngIf="!collapseBtn" class="bottom-content">
                    <button class="collapse-bottom-btn" (click)="toggleCollapseBottom()">
                        <img src="../../assets/img/icon_Collapse-Bot.png">
                    </button>
                    <div class="col-12 nopadding">
                        <app-history></app-history>
                    </div>
                </div>
                <div *ngIf="collapseBtn" class="bottom-content-collapsed">
                    <button class="collapse-bottom-btn" (click)="toggleCollapseBottom()">
                        <img src="../../assets/img/icon_Collapse-Top.png">
                    </button>
                    <div class="col-12 nopadding">
                        <app-history></app-history>
                    </div>
                </div>
            </div>
            <!-- END HISTORY/OPERATIONS -->
        </div>
        <div class="col-auto" *ngIf="sidebarMode === 'collapse'">
            <app-operations-side></app-operations-side>
        </div>
        <div class="col-auto" *ngIf="mobWidth >= 1440 && sidebarMode !== 'collapse'">
            <app-operations-side></app-operations-side>
        </div>
    </div>
</div>
