.depth-chart {
    width: 100%;
    height: 42vh;
    background-color: $color-background-2;
    position: relative;
    padding-top: 1.5rem;
    #depthchartdiv {
        height: 100%;
        width: 100%;
    }
    .chart-title {
        position: absolute;
        top: 1rem;
        left: 40%;
        color: $color-white;
        font-weight: 600;
        z-index: 3;
    }
}
