.feature-component {
    text-align: center;
    h3 {
        color: $color-cool-grey;
    }
    i.fa {
        text-align: center;
        border-radius: 100%;
        -webkit-box-shadow: 0.13rem .31rem .31rem $color-cool-grey;
        box-shadow: 0.13rem .31rem .31rem $color-cool-grey;
        padding: 2.5rem 2.5rem;
        font-size: 5rem;
        width: 10rem;
        height: 10rem;
    }
    p {
        padding: .9rem 1.8rem 0em 1.8rem;
    }
    .text {
        font-size: 1.08rem;
        color: $color-cool-grey;
    }
}
