.historypage * {
    font-family: $font-default;
}

.historypage {
    .historypage-row {
        height: 100%;
        overflow: auto;
    }
    .history-row {
        padding: 2rem 5rem;
        background-color: $color-background;
    }
    .history-row-content {
        height: calc(95vh - 16.25rem);
        width: 100%;
        background-color: $color-background;
        overflow: auto;
    }
    .history-img {
        position: absolute;
        top: -1.5rem;
        left: -6.2rem;
        opacity: .1;
        width: 6.25rem;
        height: auto;
        z-index: 1;
    }
    .history-img img {
        width: 100%;
        height: auto;
    }
    .history-header {
        padding-top: .3rem;
    }
    .history-header h3 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .history-date,
    .history-filters,
    .history-filters-kind,
    .history-filters-coin,
    .history-filters-period {
        display: inline-block;
    }
    .history-date,
    .history-filters-kind,
    .history-filters-coin,
    .history-filters-period span {
        font-size: .7rem;
        opacity: .8;
    }

    ::ng-deep .mat-form-field-underline .mat-form-field-ripple,
    ::ng-deep .mat-form-field-underline {
        background-color: $color-links;
    }
    ::ng-deep .mat-form-field-placeholder,
    ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: $color-white;
    }
    ::ng-deep .mat-focused .mat-form-field-placeholder,
    ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: $color-links;
    }
    .history-filters-kind::ng-deep.mat-input-underline.mat-form-field-underline,
    .history-filters-kind::ng-deep.mat-input-ripple.mat-form-field-ripple,
    .history-filters-coin::ng-deep.mat-input-underline.mat-form-field-underline,
    .history-filters-coin::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: transparent;
    }
    .mat-button[disabled][disabled] {
        background-color: $color-grey-light;
        border-color: $color-grey-light;
        cursor: not-allowed;
    }
    .mat-button {
        min-width: unset;
        line-height: unset;
    }
    .history-filters-kind,
    .history-filters-coin {
        margin-right: 2rem;
    }
    .margins-date {
        margin-top: .4rem;
    }
    .history-filter-btn {
        background-color: $color-links;
        border-radius: 1rem;
        border: .1rem solid $color-links;
        font-size: .8rem;
        font-weight: 600;
        color: $color-white;
        padding: .2rem .6rem;
        margin-right: .5rem;
        overflow: hidden;
    }
    .history-filter-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .history-filter-btn:first-of-type {
        margin-left: .5rem;
    }
    .mat-table {
        background-color: transparent;
        width: 90%;
        margin: 0 auto;
    }
    .mat-row:hover {
        cursor: pointer;
        background-color: $color-background-3;
    }
    .mat-header-cell {
        color: $color-cool-grey;
    }
    .mat-header-cell:not(:first-of-type) {
        display: flex;
        justify-content: flex-end;
    }
    .mat-cell:first-of-type,
    .mat-header-cell:first-of-type,
    .mat-cell:last-of-type,
    .mat-header-cell:last-of-type {
        max-width: 8%;
    }
    ::ng-deep .mat-sort-header-button {
        min-width: 100%;
        text-align: left;
        padding-right: .3rem !important;
    }
    button:focus,
    .mat-sort-header-button:focus,
    .mat-sort-header-container:focus,
    .mat-sort-header-button:focus,
    .mat-sort-header-arrow:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
   
    .history-date-cell {
        font-size: 0.8165rem;
        span {
            font-size: 1.1rem;
        }
    }
    .history-data-credit {
        color: $color-positive;
    }
    .history-data-debit {
        color: $color-negative;
    }
    .history-data-money-balance {
        color: $color-currency-reais
    }
    .history-data-btc-balance {
        max-width: 100%;
        text-align: left;
        color: $color-currency-bitcoin;
    }
    .history-data-eth-balance {
        max-width: 100%;
        text-align: left;
        color: $color-currency-ethereum;
    }
    .expanded-row,
    .expanded {
        background-color: $color-background-3;
        border-bottom: none;
        box-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .expanded-row {
        min-height: 1.56rem;
        border-bottom: .06rem solid $color-border;
    }
    .expanded-row-data,
    .expanded-row-fee {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 1.56rem;
        width: 51%;
        font-size: .63rem;
        padding-top: .37rem;
        border-top: .06rem solid $color-border;
        margin-left: 8%;
        opacity: .8;
    }
    .expanded-row-data-execution,
    .expanded-row-data-operation,
    .expanded-row-data-credit {
        display: inline-block;
        min-width: 26.3844444%;
        font-weight: 600;
        opacity: .7;
        text-align: right;
        padding-right: 1.7rem;
    }
    .expanded-row-data-execution {
        margin-left: 3.2222222%;
    }
    .expanded-row-data-credit {
        color: $color-positive;
    }
    .expanded-row-data-debit {
        color: $color-negative;
    }
    .total {
        display: inline-block;
        width: 62.9%;
    }
    ::ng-deep .mat-paginator {
        background-color: $color-background;
    }
    ::ng-deep .mat-paginator-container {
        width: 90%;
        margin: 0 auto;
    }
    .no-records-table {
        text-align: center;
        margin-top: .7rem;
        opacity: .8;
    }
    .mat-form-field-infix { 
        padding: unset !important;
        border-top: unset !important;
    }
    .mt-legend-date {
        padding-top: 0.3rem !important;
    }
    
}
