.history {
    .mat-tab-label {
        color: $color-white;
    }
    .mat-tab-label-active {
        color: $color-links;
        font-weight: 600;
    }
    .align-panel {
        position: absolute;
        padding-top: 1rem;
    }
    .separator {
        margin-top: .45rem;
    }
    .actived {
        color: #0cbefd;
        font-size: 0.84rem !important;
    }
    .itens-menu {
        font-size: .8vmax;
        font-weight: 600;
    }
}
