.notificationpage {
    .notificationpage-row {
        height: 100%;
    }
    .notification-row {
        padding: 2rem 5rem 0 5rem;
        background-color: $color-background;
    }
    .notification-img {
        position: absolute;
        top: -1.5rem;
        left: -6.5rem;
        opacity: .1;
        width: 6.25rem;
        height: auto;
        z-index: 1;
    }
    .notification-img img {
        width: 100%;
        height: auto;
    }
    .notification-header {
        padding-top: .3rem;
        font-family: inherit;
    }
    .notification-header h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .notification-header p {
        color: $color-font-8;
        font-size: .8rem;
    }
    .notification-tab-title {
        color: $color-font-8;
        font-size: 1.5rem;
        border-bottom: .06rem solid $color-font-8;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        font-weight: 500;
        width: 80%;
    }
    .notification-tab-box:not(:last-of-type) {
        color: $color-font-8;
        font-size: 1rem;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0;
    }
    .notification-tab-box-title {
        color: $color-font-8;
        font-size: .8rem;
        margin: 0;
        margin-bottom: .3rem;
        padding: 0;
        text-transform: uppercase;
    }
    .notification-tab-box-content {
        display: flex;
        align-items: center;
        font-size: .8rem;
        margin: 0;
        padding: 0;
    }
    .notification-toggle-btn {
        margin: .5rem;
        margin-left: 0;
        color: $color-white;
        vertical-align: middle;
    }
    .quotes {
        .notification-toggle-btn {
            float: left;
        }
        .mat-form-field {
            width: 20%;
        }
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
    ::ng-deep .mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-bar {
        background-color: $color-links;
    }
    ::ng-deep .mat-disabled .mat-slide-toggle-thumb {
        background-color: $color-background-9;
    }
    ::ng-deep .mat-slide-toggle-content {
        font: inherit;
    }
    .notification-btn-group::ng-deep.mat-form-field {
        width: 3.12rem !important;
    }
    .notification-btn-group {
        display: inline-block;
        margin: 0;
        color: $color-white;
    }
    .notification-signal-btn {
        display: inline-block;
        background-color: $color-links;
        color: $color-white;
        border: .06rem solid $color-links;
        border-radius: 50%;
        text-align: center;
        width: 1.43rem;
        height: 1.43rem;
    }
    .notification-signal-btn:focus {
        outline: none;
    }
    .notification-signal-btn:hover {
        cursor: pointer;
    }
    .notification-signal-btn-disabled {
        background-color: $color-border-4;
        border-color: $color-border-4;
    }
    .notification-signal-btn-disabled:hover {
        cursor: pointer;
    }
}
