.old-sign-up {
    .abakate-brand {
        color: $color-font-3;
        font-size: 2.7rem;
        text-align: center;
        font-family: $font-logo;
    }
    .redborder {
        border-color: $color-negative-erro !important;
    }
    .input-container {
        position: relative;
        display: inline-block;
        width: 100%
    }
    #verifycpficon {
        position: absolute;
        font-size: 1.2rem;
        z-index: 1;
        color: $color-positive-accept;
        height: 100%;
        text-align: right;
        top: calc(50% - 0.6rem - .3rem);
        left: calc(100% - 1.2rem);
        padding-right: .9rem;
    }
    invalid {
        color: $color-negative-erro !important;
    }
    .logo {
        padding-bottom: 1.8rem;
    }
    a:hover {
        text-decoration: none;
    }
    ul {
        padding: 0px;
    }
    #msform {
        text-align: center;
        position: relative;
        margin-top: 1.9rem;
    }
    #msform fieldset {
        background: $color-white;
        border: 0 none;
        border-radius: 0px;
        -webkit-box-shadow: 0 0 .9rem .06rem $color-border-6;
        box-shadow: 0 0 .9rem .06rem $color-border-6;
        padding: 1.25rem 1.9rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        /*stacking fieldsets above each other*/
        position: relative;
    }
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    /*inputs*/
    #msform input,
    #msform select,
    #msform textarea {
        padding: 0.9rem;
        border: .06rem solid $color-border-5;
        border-radius: 0px;
        width: 100%;
        margin-bottom: .6rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: $color-font-9;
        font-size: .8rem;
    }
    #msform .row {
        margin-right: -.4rem;
        margin-left: -.3rem;
    }
    #msform .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        padding-right: .3rem;
        padding-left: .3rem;
    }
    #msform input:focus,
    #msform textarea:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: .06rem solid $color-font-3;
        outline-width: 0;
        transition: All 0.5s ease-in;
        -webkit-transition: All 0.5s ease-in;
        -moz-transition: All 0.5s ease-in;
        -o-transition: All 0.5s ease-in;
    }
    /*buttons*/
    #msform .action-button {
        width: 6.25rem;
        background: $color-font-3;
        font-weight: bold;
        color: $color-font-5;
        border: 0 none;
        border-radius: 1.6rem;
        cursor: pointer;
        padding: .6rem .3rem, ;
        margin: .6rem .3rem, ;
    }
    #msform .action-button:hover,
    #msform .action-button:focus {
        -webkit-box-shadow: 0 0 0 .12rem $color-white, 0 0 0 .2rem $color-font-3;
        box-shadow: 0 0 0 .12rem $color-white, 0 0 0 .2rem $color-font-3;
    }
    #msform .action-button-previous {
        width: 6.25rem;
        background: $color-font-11;
        font-weight: bold;
        color: $color-white;
        border: 0 none;
        border-radius: 1.56rem;
        cursor: pointer;
        padding: .62rem .3rem;
        margin: .62rem .3rem;
    }
    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        -webkit-box-shadow: 0 0 0 .12rem $color-white, 0 0 0 .2rem $color-border-7;
        box-shadow: 0 0 0 .12rem $color-white, 0 0 0 .2rem $color-border-7;
    }
    /*headings*/
    .fs-title {
        font-size: 1.12rem;
        text-transform: uppercase;
        color: $color-font-9;
        margin-bottom: .62rem;
        letter-spacing: .12rem;
        font-weight: bold;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: .8rem;
        color: $color-font-10;
        margin-bottom: 1.25rem;
    }
    /*progressbar*/
    #progressbar {
        margin-bottom: 1.9rem;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }
    #progressbar li {
        list-style-type: none;
        color: $color-white;
        text-transform: uppercase;
        font-size: .56rem;
        width: 33.33%;
        float: left;
        position: relative;
        letter-spacing: .06rem;
    }
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.62rem;
        display: block;
        font-size: .75rem;
        color: $color-font-4;
        background: $color-white;
        border-radius: 1.56rem;
        margin: 0 auto .62rem auto;
    }
    /*progressbar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: .12rem;
        background: $color-white;
        position: absolute;
        left: -50%;
        top: .56rem;
        z-index: -1;
        /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }
    /*marking active/completed steps $color-positive-accept*/
    /*The number of the step and the connector before it = $color-positive-accept*/
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: $color-font-3;
        color: $color-font-5;
    }
    .data-label {
        font-size: .8rem;
        font-weight: bold;
        text-align: right;
    }
    .data-confirm {
        font-size: .8rem;
        text-align: left;
    }
    .rowspace {
        padding-bottom: .62rem;
    }
    .diff-passwords {
        font-size: .8rem;
        color: $color-negative-erro;
        text-align: left;
    }
    .next-disabled {
        background-color: $color-font-4 !important;
        color: $color-background-11 !important;
    }
    .color-black {
        color: $color-font-5;
    }
}
