.operations-side {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: calc(100vh - 8rem);
    margin: 0 auto;
    #tradebook {
        display: -webkit-box;
        display: -ms-flexbox;
        box-pack: justify;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 0.56rem;
        text-align: right;
        font-weight: 500;
        font-family: $font-secondary;
        margin-left: .25rem;
        margin-top: .5rem;
    }
    .trade-history-title {
        font-size: 1rem;
        text-align: center;
        margin-top: .8rem;
        font-weight: 600;
    }
    .trade-history-table {
        width: inherit;
    }
    .trade-history-main {
        overflow-y: scroll;
        height: stretch;
    }
    .column-size {
        color: $color-white;
        min-width: 33%;
        padding-right: .18rem;
    }
    .column-price {
        color: $color-positive;
        min-width: 33%;
    }
    .trade-history-arrow {
        display: inline-block;
        width: .8rem;
        vertical-align: middle;
        margin-left: -.2rem;
        margin-top: -0.1rem;
    }
    .trade-history-table-price-up {
        color: $color-positive;
        min-width: 33%;
    }
    .trade-history-table-price-down {
        color: $color-negative;
        min-width: 37%;
    }
    .column-time {
        color: $color-cool-grey;
    }
}
