.orderentry-component {
    button:enabled {
        cursor: pointer;
    }
    #orderentry {
        font-size: 0.75rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
    #orderentry>form>p {
        text-align: center;
        margin-top: 0rem;
        margin-left: 1.3rem;
        color: $color-font-8;
    }
    #orderentry>form>div>div>p {
        margin-top: 0rem;
        text-align: left;
        margin-left: 1.3rem;
        color: $color-font-8;
    }
    .example-radio-group {
        display: inline;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: normal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .total {
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
        float: left;
        padding: .125rem .1rem;
        padding-top: .2rem;
    }
    .btn-submit {
        width: 100%;
    }
    .button-buy{
        background-color: $color-positive!important;
        border-color: $color-positive!important;
        color: $color-black;
    }
    .button-sell{
        background-color: $color-negative!important;
        border-color: $color-negative!important;
        color: $color-white;
    }
    .coin-select::ng-deep.mat-input-underline.mat-form-field-underline,
    .coin-select::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
       
    }
    .align-mat-form {
        .mat-form-field {
          width: auto !important;
        }
      
        .mat-select-value {
          max-width: 100%;
          width: auto;
        }  
    }

    .coin-select .mat-input-underline{
        display: none !important;
    }
    .coin {
        margin-top: .9rem;
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
    }
    .total-value {
        margin-top: -.7rem;
        input-currency div mat-form-field div div.mat-input-underline.mat-form-field-underline {
            display: none;
        }
        display: inline-block !important;
        width: 100% !important;
    }
    .total-brl {
        color:$color-white;
        margin-right: 1rem;
    }
    .padding-total {
        @include respond(medium-desk) {
            padding-left: 1.5rem !important;
        }
    }
    .clear {
        clear: both;
    }
    .mat-form-field-wrapper {
        position: unset;
        width: 100%;
    }
    .mat-form-field-infix {
        width: 100%;
    } 

}
