.post-sign-up {
    .abakate-brand {
        font-family: $font-logo;
        color: $color-font-3;
        font-size: 3em;
        text-align: center;
    }
    .logo {
        padding-bottom: 2em;
    }
    a:hover {
        text-decoration: none;
    }
    #msform {
        text-align: center;
        position: relative;
        margin-top: 1.9rem;
    }
    .content {
        background: $color-white;
        border: 0 none;
        border-radius: 0;
        -webkit-box-shadow: 0 0 .94rem .06rem $color-border-2;
        box-shadow: 0 0 .94rem .06rem $color-border-2;
        padding: 1.25rem 1.9rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        text-align: center;
        position: relative;
    }
    .fs-title {
        font-size: 1.12rem;
        text-transform: uppercase;
        color: $color-font-9;
        margin-bottom: .62rem;
        letter-spacing: .12rem;
        font-weight: bold;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: .8rem;
        color: $color-font-10;
        margin-bottom: 1.25rem;
    }
}
