.profile {
    .profile-row {
        padding: 2rem 5rem 0 5rem;
        background-color: $color-background;
    }
    .profile-row-content {
        min-height: auto;
        background-color: $color-background;
    }
    .profile-img {
        position: absolute;
        top: -1.5rem;
        left: -6.5rem;
        opacity: .1;
        width: 6.25rem;
        height: auto;
        z-index: 1;
    }
    .profile-img img {
        width: 100%;
        height: auto;
    }
    .profile-header {
        padding-top: .3rem;
        font-family: inherit;
    }
    .profile-header h3 {
        font-size: 1.5rem;
    }
    .profile-title {
        color: $color-font-8;
        font-size: 1.2rem;
        border-bottom: .04rem solid $color-font-8;
        margin: 0;
        margin-bottom: .5rem;
        padding: 0;
        font-weight: 500;
        width: 80%;
    }
    .profile-kyc-div{
        margin: 4rem 0;

        .profile-kyc{
            color: $color-cool-grey;
            font-size: .68rem;
            margin-bottom: 0;
            img{
                width: .9rem;
            }
            div{
                position: absolute;
                width: 72%;
                color: $color-white;
                margin-top: -.9rem;
                margin-left: .2rem;
                display: inline-block;
                p{
                    font-size: .6rem;
                    background-color: $color-cool-grey;
                    margin-left: .7rem;
                    border-radius: .06rem;
                    padding: .2rem .4rem;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 1.1rem;
                    left: .03rem;
                    border-style: solid;
                    border-width: .4rem .7rem .4rem 0;
                    border-color: $color-transparent $color-cool-grey $color-transparent $color-transparent;
                }
            }
        }

        .profile-label,
        .profile-text{
            font-size: .82rem;
            color: $color-white;
        }
    }

    .profile-title span {
        font-size: .7rem;
    }
    .clearfix {
        zoom: 1;
    }
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    .profile-btn {
        font-size: .7rem;
        color: $color-links;
        float: right;
    }
    .profile-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .profile-btn-edit{
        width: 100%;
        font-size: .7rem;
        border-radius: 1rem;
        margin-top: .2rem;
        padding: .2rem;
        background-color: $color-links;
        color: $color-white;
    }
    .profile-photo-btn {
        font-size: .7rem;
        color: $color-links;
    }
    .profile-photo-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .profile-delete-btn {
        font-size: .7rem;
        color: $color-links;
    }
    .profile-delete-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .profile-user-xp-border {
        width: 8.12rem;
        height: 8.12rem;
        position: relative;
    }
    .profile-avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-avatar img {
        width: 100%;
        height: 100%;
    }
    .profile-user-xp-number {
        position: absolute;
        bottom: -2%;
        right: -4%;
        font-size: .8rem;
    
        
        div{
            position: absolute;
            color: $color-white;
            margin: .6rem 0 0 0;
            right: -.8rem;
            width: 6.8rem;

            p{
                font-size: .68rem;
                background-color: $color-links;
                border-radius: .06rem;
                padding: .3rem .1rem;
                font-weight: 600;
            }
            strong{
                color: $color-black;
                font-weight: 500;
                padding: .4rem 0;
                font-size: .56rem;
                
            }
            &:before {
                content: '';
                position: absolute;
                top: -1.3rem;
                right: 1.1rem;
                border-style: solid;
                border-width: .8rem .5rem .6rem .5rem;
                border-color: $color-transparent $color-transparent $color-links $color-transparent;
            }
        }
    }
    .profile-label {
        color: $color-font-8;
        font-size: .7rem;
        margin: 0;
    }
    .profile-label:not(:first-of-type) {
        margin-top: 1rem;
    }
    .profile-text {
        margin-bottom: 1rem;
        padding: 0;
    }
    .profile-invalid {
        display: block;
        font-size: .7rem;
        color: $color-negative;
        margin-top: .2rem;
    }
    input.ng-invalid.ng-touched {
        border: .06rem solid $color-negative;
    }
    .profile-edit-input {
        display: block;
        width: 80%;
        margin-top: .1rem;
    }
    .profile-edit-select {
        width: auto;
        margin: .2rem 0 1rem 0;
    }
    .profile-toggle {
        margin-bottom: 3rem;
    }
    .profile-toggle p {
        width: 100%;
        font-size: .7rem;
        color: $color-font-8;
    }
    .profile-toggle-btn {
        color: $color-white;
        vertical-align: middle;
    }
    .profile-accounts {
        display: inline-block;
        &-array {
            max-height: 25vh;
            overflow-y: auto;
        }
    }
    .profile-accounts-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 80%;
    }
    .profile-accounts-col:last-of-type {
        margin-bottom: 1rem;
    }
    .profile-accounts-data {
        font-size: .7rem;
        color: $color-font-8;
        margin-left: 2.4rem;
    }
    .profile-accounts-delete {
        display: inline-block;
        vertical-align: top;
    }
    .profile-accounts-delete button {
        color: $color-font-8;
        font-size: 1.3rem;
    }
    .profile-accounts-btn {
        font-size: .7rem;
        color: $color-links;
        padding: 0;
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
    ::ng-deep .mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-bar {
        background-color: $color-links;
    }
    ::ng-deep .mat-disabled .mat-slide-toggle-thumb {
        background-color: $color-background-9;
    }
    ::ng-deep .mat-slide-toggle-content {
        font: inherit;
    }
    .profile-save-btn {
        color: $color-links;
        display: flex;
    }
    .profile-save-btn button:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .profile-doc{
        width: 90%;
        .profile-title{
            width: 100%;
            margin-bottom: 0;
        }
        .profile-doc-kyc{
            color: $color-cool-grey;
            font-size: .75rem;
            margin-top: .5rem;
        }
        .profile-drag-drop{
            border: .06rem dashed $color-cool-grey;
            margin: 1.5rem 0 3rem 0;
            padding: 1rem 4.5rem;
    
            p{
                font-size: .7rem;
                font-style: italic;
                color: $color-cool-grey;
                text-align: center;
                margin-bottom: 0;
            }
        }
        .mat-table{
            background-color: $color-background;
            font-size: .8rem;
            font-family: $font-default;
    
            .mat-cell,
            .mat-header-cell{
                color: $color-cool-grey;
            }
            .mat-header-row, 
            .mat-row {
                padding: 0 .3rem;
            }
            .mat-column-date{
                flex-grow: 2;
            }
            .mat-column-document{
                flex-grow: 4;
            }
            .mat-column-actions{
                display: flex;
                justify-content: space-around;
                flex-grow: 1;
            }
        }
    }
}
