.safety-page {
    .safety-page-row{
        height: 100%; 
        overflow: auto;
    }
    .safety-row {
        padding: 2rem 5rem 0 5rem;
        background-color: $color-background;
    }
    .safety-img {
        position: absolute;
        top: -1.5rem;
        left: -6.5rem;
        opacity: .1;
        width: 6.25rem;
        height: auto;
        z-index: 1;
    }
    .safety-img img {
        width: 100%;
        height: 100%;
    }
    .safety-header {
        padding-top: .3rem;
        font-family: inherit;
    }
    .safety-header h3 {
        font-size: 1.5rem;
    }
    .safety-title {
        color: $color-font-8;
        font-size: 1.5rem;
        border-bottom: .06rem solid $color-font-8;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        font-weight: 500;
        width: 80%;
    }
    .safety-sub-title-green,
    .safety-sub-title-red {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    .safety-sub-title-green {
        color: $color-positive;
    }
    .safety-sub-title-red {
        color: $color-negative;
    }
    .safety-sub-title-green div,
    .safety-sub-title-red div {
        display: inline-block;
        vertical-align: middle;
    }
    .safety-sub-title-green img,
    .safety-sub-title-red img {
        width: 2.18rem;
        height: auto;
    }
    .safety-sub-title-red button {
        background-color: $color-links;
        color: $color-white;
        border: .06rem solid $color-links;
        border-radius: 3rem;
        font-size: .8rem;
        width: 5.6rem;
        padding: 0;
        line-height: 1.5rem;
        margin-left: 1rem;
        vertical-align: middle;
        overflow: hidden;
    }
    .safety-sub-title-red button:focus {
        outline: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .safety-against {
        font-weight: 600;
        font-size: .7rem;
        margin: .5rem 0;
    }
    .safety-against span {
        font-weight: 400;
    }
    .safety-about {
        font-size: .9rem;
        margin-bottom: 1rem;
        width: 80%;
        text-align: justify;
    }
    .safety-click {
        text-decoration: unset;
        color: $color-white;
    }
    .safety-click:hover {
        color: $color-links !important;
        cursor: pointer;
    }
}
