.settingspage {
    .settings-row {
        padding: 2rem 5rem 0 5rem;
        background-color: $color-background;
    }
    .settings-row-content {
        min-height: auto;
        background-color: $color-background;
    }
    .settings-img {
        position: absolute;
        top: -1.5rem;
        left: -6.5rem;
        opacity: .1;
        width: 6.25rem;
        height: auto;
        z-index: 1;
    }
    .settings-img img {
        width: 100%;
        height: auto;
    }
    .settings-header {
        padding-top: .3rem;
        font-family: inherit;
    }
    .settings-header h3 {
        font-size: 1.5rem;
    }
    .settings-title {
        color: $color-font-8;
        font-size: 1.5rem;
        border-bottom: .06rem solid $color-font-8;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        font-weight: 500;
        width: 80%;
    }
    .settings-title span {
        font-size: .7rem;
    }
    .clearfix {
        zoom: 1;
    }
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    .settings-btn {
        font-size: .7rem;
        color: $color-links;
        float: right;
    }
    .settings-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .settings-photo-btn {
        font-size: .7rem;
        color: $color-links;
    }
    .settings-photo-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .settings-delete-btn {
        font-size: .7rem;
        color: $color-links;
    }
    .settings-delete-btn:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .settings-user-xp-border {
        width: 8.12rem;
        height: 8.12rem;
        position: relative;
    }
    .settings-avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        overflow: hidden;
    }
    .settings-avatar img {
        width: 100%;
        height: 100%;
    }
    .settings-user-xp-number {
        position: absolute;
        bottom: -2%;
        right: -4%;
        font-size: .8rem;
    }
    .settings-label {
        color: $color-font-8;
        font-size: .7rem;
        margin: 0;
    }
    .settings-label:not(:first-of-type) {
        margin-top: 1rem;
    }
    .settings-text {
        margin-bottom: 1rem;
        padding: 0;
    }
    .settings-invalid {
        display: block;
        font-size: .7rem;
        color: $color-negative;
        margin-top: .2rem;
    }
    input.ng-invalid.ng-touched {
        border: .06rem solid $color-negative;
    }
    .settings-edit-input {
        display: block;
        width: 80%;
        margin-top: .1rem;
    }
    .settings-edit-select {
        width: auto;
        margin: .2rem 0 1rem 0;
    }
    .settings-toggle {
        margin-bottom: 3rem;
    }
    .settings-toggle p {
        width: 100%;
        font-size: .7rem;
        color: $color-font-8;
    }
    .settings-toggle-btn {
        color: $color-white;
        vertical-align: middle;
    }
    .settings-accounts {
        display: inline-block;
        &-array {
            max-height: 25vh;
            overflow-y: auto;
        }
    }
    .settings-accounts-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 80%;
    }
    .settings-accounts-col:last-of-type {
        margin-bottom: 1rem;
    }
    .settings-accounts-data {
        font-size: .7rem;
        color: $color-font-8;
        margin-left: 2.4rem;
    }
    .settings-accounts-delete {
        display: inline-block;
        vertical-align: top;
    }
    .settings-accounts-delete button {
        color: $color-font-8;
        font-size: 1.3rem;
    }
    .settings-accounts-btn {
        font-size: .7rem;
        color: $color-links;
        padding: 0;
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
    ::ng-deep .mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-bar {
        background-color: $color-links;
    }
    ::ng-deep .mat-disabled .mat-slide-toggle-thumb {
        background-color: $color-background-9;
    }
    ::ng-deep .mat-slide-toggle-content {
        font: inherit;
    }
    .settings-save-btn {
        color: $color-links;
    }
    .settings-save-btn button:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .margin-accounts {
        margin-top: 3rem;
    }
    
    .dimensions-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }

    
}
