.sidemenu {
    @include respond(phone) {
        height: 100vh;
    }
    .sidebar-user-xp-border,
    .sidebar-collapse-user-xp-border {
        position: relative;
        margin: 0 auto;
        @include respond(phone) {
            margin: 1rem 0 -1rem auto;
        }
    }
    .sidebar-user-xp-border {
        width: 6.25rem;
        height: 6.25rem;
    }
    .sidebar-collapse-user-xp-border {
        width: 3.3rem;
        height: 3.3rem;
        margin-top: 1rem;
        margin-left: -10%;
    }
    .sidebar-collapse-user-xp-border:hover {
        cursor: pointer;
    }
    .sidebar-avatar,
    .sidebar-collapse-avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
    }
    .sidebar-avatar {
        width: 5.1rem;
        height: 5.1rem;
    }
    .sidebar-collapse-avatar {
        width: 2.5rem;
        height: 2.5rem;
    }
    .sidebar-avatar img,
    .sidebar-collapse-avatar img {
        width: 100%;
        height: auto;
    }
    .sidebar-user-name {
        font-weight: 600;
        font-size: .8rem;
        text-align: center;
    }
    .sidemenu-close {
        position: absolute;
        button {
            background-color: $color-transparent;
            border: none;
        }
        img {
            height: 2.5rem;
        }
    }
    .usernarrow {
        border-radius: 50%;
        width: 3.25rem;
        border: .06rem solid $color-font;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        margin-left: -.4rem;
    }
    .usernarrow:hover {
        cursor: pointer;
    }
    .wallet-full {
        padding: 1rem .2rem;
        @include respond(phone) {
            padding: 0rem;
        }
    }
    .buttons {
        text-align: center;
    }
    .narrow {
        padding: 0px;
        text-align: center;
    }
    .actionbtn,
    .collapse-actionbtn {
        background-color: transparent;
        height: 100%;
        margin: 0px;
        border: 0px;
        padding: 0.1rem;
        opacity: 0.4;
        cursor: pointer;
        @include respond(phone) {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 1.5rem 0;
            p {
                color: $color-white;
                margin-left: .8rem;
                margin-bottom: 0rem;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .logout {
        position: absolute;
        bottom: 0;
        height: 3rem;
        margin: 2rem .2rem;
    }
    .actionbtn:focus,
    .collapse-actionbtn:focus {
        opacity: 1;
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .collapse-actionbtn {
        margin-top: 1rem;
    }
    .collapse-actionbtn img {
        width: 1.56rem;
        height: 1.56rem;
    }
    .currentPage {
        opacity: 1;
    }
    .sidebar-mode{
        img{
            width:100%;
        }
        p{
            text-align: center;
        }
    }
}
