.user-balance-component {
    .user-balance-row {
        padding: 2rem 5rem;
        background-color: $color-background;
    }
    .user-balance-img {
        position: absolute;
        top: -1.5rem;
        left: -6.5rem;
        opacity: .3;
        width: 6.25rem;
        height: 6.25rem;
        z-index: 1;
    }
    .user-balance-img img {
        width: 100%;
        height: auto;
    }
    .user-balance-header {
        padding-top: .3rem;
        font-family: inherit;
    }
    .user-balance-header h3 {
        font-size: 1.5rem;
    }
    .user-balance-coin-box {
        width: 11.7rem;
        height: 11.7rem;
        background-color: $color-background-12;
        -webkit-box-shadow: 0 0 .62rem 0 $color-border-2;
        box-shadow: 0 0 .62rem 0 $color-border-2;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .user-balance-coin-box img {
        display: inline-block;
        width: 4.4rem;
        height: auto;
    }
    .user-balance-currency,
    .user-balance-btc,
    .user-balance-eth {
        font-size: 600;
        font-size: 1rem;
        margin: .2rem 0;
    }
    .user-balance-currency {
        color: $color-currency-reais;
    }
    .user-balance-btc {
        color: $color-currency-bitcoin;
    }
    .user-balance-eth {
        color: $color-currency-ethereum;
    }
    .user-balance-currency-value,
    .user-balance-btc-value,
    .user-balance-eth-value {
        display: inline-block;
        font-weight: 600;
        font-size: 1rem;
    }
    .user-balance-box-footer {
        margin-top: 1rem;
    }
    .user-balance-box-footer img {
        width: .9rem;
        height: auto;
    }
    .user-balance-box-footer span {
        color: $color-links;
        font-size: .7rem;
        vertical-align: middle;
    }
    .user-balance-box-footer span:hover {
        cursor: pointer;
    }
    .user-balance-box-footer span:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
}
