.wallet-component {
    @include respond(phone) {
        margin-bottom: 3.5rem;
    }
    .wallet-title {
        margin: 0;
        margin-bottom: .5rem;
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
        @include respond(phone) {
            font-size: 1rem;
        }
    }
    .wallet-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .wallet-list-item:first-of-type {
        color: $color-currency-reais;
    }
    .wallet-list-item div {
        display: inline-block;
        width: 1.18rem;
        font-size: .7rem;
        text-align: right;
        margin-right: .1rem;
        @include respond(phone) {
            width: 2.1rem;
            font-size: 1rem;
        }
    }
    .wallet-list-item span {
        font-size: 1.4rem;
        font-weight: 600;
        @include respond(phone) {
            font-size: 2.2rem
        }
    }
    .wallet-list-item-BTC {
        color: $color-currency-bitcoin;
    }
    .wallet-list-item-ETH {
        color: $color-currency-ethereum;
    }
    .wallet-coin-balance {
        color: $color-links;
        font-size: .6rem;
        text-align: center;
        width: 100%;
        @include respond(phone) {
            text-align: left;
            font-size: .9rem;
            margin-left: .5rem;
        }
    }
    .wallet-coin-balance:hover {
        cursor: pointer;
    }
    .wallet-coin-balance:focus {
        outline: none;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
}
