.withdraw-deposit-component {
    .mat-raised-button {
        min-width: 0px !important;
    }
    .mat-button-toggle-group,
    .mat-button-toggle {
        font-size: 0.9rem;
        border-radius: 1.5rem;
        text-transform: capitalize;
        color: $color-font;
        font-weight: bold;
        background-color: $color-background-13;
    }
    #mat-button-toggle-1 {
        padding: .4rem 0px 0px 0px !important;
    }
    #mat-button-toggle-2 {
        padding: .4rem .4rem 0px .4rem !important;
    }
    .mat-button-toggle-checked {
        background-color: $color-white;
        color: $color-font-13;
    }
    .mat-button-toggle-label-content {
        line-height: .8rem !important;
    }
    .mat-button-toggle-checked {
        color: $color-font-14 !important;
    }
    .dep-with-title {
        font-size: 0.75rem;
        text-align: left;
    }
    .receipt-attachment {
        border: .06rem dashed $color-border-9;
        color: $color-font;
        font-size: 0.7rem;
        text-align: center;
        padding: .62rem;
        font-style: italic;
    }
    .btn-primary {
        font-size: 0.8rem;
        border-radius: 1rem;
        margin-top: 0.2rem;
    }
    .btn-send {
        background-color: $color-font-14;
        font-family: $font-default;
        width: 100%;
    }
    .btn-send:focus {
        outline: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    #qrcode {
        padding: .62rem;
    }
    #adressWithdraw {
        padding-top: .62rem;
    }
    #adressDeposit {
        padding-top: .62rem;
    }
    #addAddress {
        cursor: pointer;
    }
    .copy-text {
        cursor: pointer;
        padding-top: 1.5rem;
    }
    .qrcode-box {
        display: inline-block;
        margin: 0 auto;
        padding: .3rem;
        background-color: $color-white;
    }
    .qrcode-address {
        word-break: break-all;
    }
    ::ng-deep #radio-ETH>label>div.mat-radio-container>div.mat-radio-outer-circle {
        border-color: $color-currency-ethereum;
    }
    ::ng-deep #radio-ETH>label>div.mat-radio-container>div.mat-radio-inner-circle {
        background-color: $color-currency-ethereum;
    }
    ::ng-deep #radio-BTC>label>div.mat-radio-container>div.mat-radio-outer-circle {
        border-color: $color-currency-bitcoin;
    }
    ::ng-deep #radio-BTC>label>div.mat-radio-container>div.mat-radio-inner-circle {
        background-color: $color-currency-bitcoin;
    }
    ::ng-deep #radio-BRL>label>div.mat-radio-container>div.mat-radio-outer-circle {
        border-color: $color-currency-reais;
    }
    ::ng-deep #radio-BRL>label>div.mat-radio-container>div.mat-radio-inner-circle {
        background-color: $color-currency-reais;
    }
    .coin-select::ng-deep.mat-input-underline.mat-form-field-underline,
    .coin-select::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }

    .coin-select .mat-input-underline{
        display: none !important;
    }

    .align-mat-form {
        .mat-form-field {
          width: auto !important;
        }
      
        .mat-select-value {
          max-width: 100%;
          width: auto;
        }  
    }
    
    .coin {
        margin-top: 1.125rem;
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
    }
    .btn-blue {
        width: 1.125rem;
        height: 1.563rem;
        border-radius: 0.781rem;
        background-color: $color-links;
    }
    .end-empty {
        font-size: 0.8rem;
        color: $color-cool-grey;
        font-family: $font-default;
    }
    .mat-form-field-wrapper {
        position: unset;
        width: 100%;
    }
    .mat-form-field-infix {
        width: 100%;
    }


    @include respond(big-desk) {
        .align-type-currency {
            padding-top: 0.5rem !important;
        }
    }
}
