<div class="notificationpage">
    <div class="row notificationpage-row">
        <div class="col-12">
            <!-- NOTIFICATION HEADER -->
            <div class="row notification-row">
                <div class="col-12">
                    <div class="notification-img">
                        <img src="./assets/img/icon_Notification.svg" />
                    </div>
                    <div class="notification-header">
                        <h3>{{ 'Notifications' | translate }}</h3>
                        <p>{{ 'Notifications text' | translate }} {{ userEmail }}</p>
                    </div>
                </div>
            </div>
            <!-- NOTIFICATION BODY -->
            <div class="row notification-row mobile-row tablet-row">
                <!-- FIRST COL -->
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="notification-tab-title">
                        {{ 'Transactions' | translate }}
                    </div>
                    <div class="notification-tab-box">
                        <div class="notification-tab-box-title">
                            {{ 'Movements' | translate }}
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.buyCripto" [checked]="notification.buyCripto"
                                (change)="!notification.buyCripto">{{ 'BuyCryptos' | translate }}</mat-slide-toggle>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.sellCripto" [checked]="notification.sellCripto"
                                (change)="!notification.sellCripto">{{ 'SellCryptos' | translate }}</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="notification-tab-box">
                        <div class="notification-tab-box-title">
                            {{ 'ContributionsAndRescues' | translate }}
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.contributionSubmission" [checked]="notification.contributionSubmission"
                                (change)="!notification.contributionSubmission">{{ 'ContributionSubmission' | translate }}</mat-slide-toggle>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.contributionAproved" [checked]="notification.contributionAproved"
                                (change)="!notification.contributionAproved">{{ 'Contribution' | translate }} {{ 'aproved' | translate }}</mat-slide-toggle>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.requestRescue" [checked]="notification.requestRescue"
                                (change)="!notification.requestRescue">{{ 'RequestRedemption' | translate }}</mat-slide-toggle>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.rescueAproved" [checked]="notification.rescueAproved"
                                (change)="!notification.rescueAproved">{{ 'Rescue' | translate }} {{ 'aproved' | translate }}</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="notification-tab-box">
                        <div class="notification-tab-box-title">
                            {{ 'History' | translate }}
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.monthlyHistory" [checked]="notification.monthlyHistory"
                                (change)="!notification.monthlyHistory">{{ 'monthlyHistory' | translate }}</mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <!-- SECOND COL -->
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="notification-tab-title">
                        {{ 'Quotations' | translate }}
                    </div>
                    <div class="notification-tab-box quotes">
                        <div class="notification-tab-box-title">
                            Bitcoins
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.btcQuotation.decrease.status" [checked]="notification.btcQuotation.decrease.value !== 0 ? true : false"
                                (change)="!notification.btcQuotation.decrease.status">{{ 'Decrease' | translate }} </mat-slide-toggle>
                            <div class="notification-btn-group">
                                <button class="notification-signal-btn" (click)="notification.btcQuotation.decrease.value = notification.btcQuotation.decrease.value - 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.btcQuotation.decrease.value === 0}">-</button>
                                <mat-form-field class="notification-input-value">
                                    <input type="number" matInput min="0" max="100.00" step="0.01" [(ngModel)]="notification.btcQuotation.decrease.value">
                                </mat-form-field>
                                %
                                <button class="notification-signal-btn" (click)="notification.btcQuotation.decrease.value = notification.btcQuotation.decrease.value + 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.btcQuotation.decrease.value === 0}">+</button>
                            </div>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.btcQuotation.increase.status" [checked]="notification.btcQuotation.increase.value !== 0 ? true : false"
                                (change)="!notification.btcQuotation.increase.status">{{ 'Increase' | translate }} </mat-slide-toggle>
                            <div class="notification-btn-group">
                                <button class="notification-signal-btn" (click)="notification.btcQuotation.increase.value = notification.btcQuotation.increase.value - 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.btcQuotation.increase.value === 0}">-</button>
                                <mat-form-field class="notification-input-value">
                                    <input type="number" matInput min="0" max="100.00" step="0.01" [(ngModel)]="notification.btcQuotation.increase.value">
                                </mat-form-field>
                                %
                                <button class="notification-signal-btn" (click)="notification.btcQuotation.increase.value = notification.btcQuotation.increase.value + 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.btcQuotation.increase.value === 0}">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="notification-tab-box quotes">
                        <div class="notification-tab-box-title">
                            Ethereum
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.ethQuotation.decrease.status" [checked]="notification.ethQuotation.decrease.value !== 0 ? true : false"
                                (change)="!notification.ethQuotation.decrease.status">{{ 'Decrease' | translate }} </mat-slide-toggle>
                            <div class="notification-btn-group">
                                <button class="notification-signal-btn" (click)="notification.ethQuotation.decrease.value = notification.ethQuotation.decrease.value - 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.ethQuotation.decrease.value === 0}">-</button>
                                <mat-form-field class="notification-input-value">
                                    <input type="number" matInput min="0" max="100.00" step="0.01" [(ngModel)]="notification.ethQuotation.decrease.value">
                                </mat-form-field>
                                %
                                <button class="notification-signal-btn" (click)="notification.ethQuotation.decrease.value = notification.ethQuotation.decrease.value + 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.ethQuotation.decrease.value === 0}">+</button>
                            </div>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.ethQuotation.increase.status" [checked]="notification.ethQuotation.increase.value !== 0 ? true : false"
                                (change)="!notification.ethQuotation.increase.status">{{ 'Increase' | translate }} </mat-slide-toggle>
                            <div class="notification-btn-group">
                                <button class="notification-signal-btn" (click)="notification.ethQuotation.increase.value = notification.ethQuotation.increase.value - 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.ethQuotation.increase.value === 0}">-</button>
                                <mat-form-field class="notification-input-value">
                                    <input type="number" matInput min="0" max="100.00" step="0.01" [(ngModel)]="notification.ethQuotation.increase.value">
                                </mat-form-field>
                                %
                                <button class="notification-signal-btn" (click)="notification.ethQuotation.increase.value = notification.ethQuotation.increase.value + 0.01"
                                    [ngClass]="{'notification-signal-btn-disabled': notification.ethQuotation.increase.value === 0}">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- THIRD COL -->
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="notification-tab-title">
                        {{ 'Platform' | translate }}
                    </div>
                    <div class="notification-tab-box">
                        <div class="notification-tab-box-title">
                            {{ 'News' | translate }}
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.newsAboutPlatform" [checked]="notification.newsAboutPlatform"
                                (change)="!notification.newsAboutPlatform">{{ 'newsAboutPlatform' | translate }}</mat-slide-toggle>
                        </div>
                        <div class="notification-tab-box-content">
                            <mat-slide-toggle class="notification-toggle-btn" [(ngModel)]="notification.newFeatures" [checked]="notification.newFeatures"
                                (change)="!notification.newFeatures">{{ 'newFeatures' | translate }}</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
