<div class="transfer"> 
    
        <app-filter 
            isOrdersAllOpen={{transfersAllOpen}} 
            tabSelected={{tabActive}} 
            (statusChange)="filterStatus($event)" 
            (typeChange)="filterType($event)"
            (dateChange)="filterDate($event)"
        ></app-filter>

    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
        
            <!-- Time Column -->
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Date' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let transfer"> {{transfer.time | date:'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
            </ng-container>
        
            <!-- Amount  Column -->
            <ng-container matColumnDef="amount" >
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Quantity' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let transfer" >
                    <span *ngIf="transfer.symbol =='BRL'">{{transfer.amount | currency:'BRL'}}</span>
                    <span *ngIf="transfer.symbol =='BTC'">{{transfer.amount | number:'1.8-8'}}</span>
                    <span *ngIf="transfer.symbol =='ETH'">{{transfer.amount | number:'1.8-8'}}</span>
                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Symbol' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let transfer"> {{transfer.symbol}} </mat-cell>
            </ng-container>
        
            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Type' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let transfer"> {{transfer.type | translate}} </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Status' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let transfer"> {{transfer.status | translate}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
    </div>
</div>
