<div class="post-sign-up">
  <div class="container">
    <div class="logo" id="msform">
        <a href="/" class="abakate-brand">abakate</a>
    </div>

    <div class="content">
        <h2 class="fs-title">Obrigado!</h2>
        <p class="fs-subtitle">Foi enviado um e-mail de confirmação para o endereço informado.</p>
        <p class="fs-subtitle">Aguarde mais informações a respeito da Abakate em breve!</p>
    </div>

</div>
