// TICKER
.book-l,
.book-r {
    background-color: $color-background-2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .fullbook {
        .halfbook {
            font-size: .85rem;
        }
        .bookline {
            line-height: 1.45rem;
        }
    }
    &__ticker {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
        /* NÃO ESTÁ PEGANDO ESTA FONTE */
        font-family: $font-default;
        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            opacity: 0.6;
            & img {
                width: 100%;
                height: 100%;
            }
        }
        &-volume {
            width: 7rem;
            margin-right: 1rem;
            &--title {
                color: $color-font-8;
                font-size: 0.7rem;
            }
            &--value {
                font-size: 1rem;
                & span {
                    font-size: 0.8rem;
                }
            }
            &--text {
                line-height: 0.4;
                color: $color-font-8;
                font-size: .7rem;
            }
        }
        &-variation {
            width: 5.5rem;
            margin-top: auto;
            font-size: 0.9rem;

            &--zero {
                color: $color-white;
            }
            &--positive {
                color: $color-positive;
            }
            &--negative {
                color: $color-negative;
            }
            &--text {
                line-height: 0.4;
                color: $color-font-8;
                font-size: 0.7rem;
            }
        }
        &-divider {
            height: 1.4rem;
            width: 0.1rem;
            background-color: $color-white;
            opacity: 0.3;
            margin: auto 1rem 0 0.5rem;
        }
        &-last {
            margin-top: auto;
            &--value {
                color: $color-currency-reais;
                font-size: 1rem;
            }
            &--text {
                line-height: 0.4;
                color: $color-font-8;
                font-size: 0.7rem;
            }
        }
    }
}

.book-l__ticker-volume--value {
    color: $color-currency-ethereum;
}

.book-r__ticker-volume--value {
    color: $color-currency-bitcoin;
}
