.custom-dialog {
    
    .mat-dialog-container {
        background-color: #3b4c53;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
           
    }
    .mat-dialog-content {
        overflow: unset !important;   
    }

}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        opacity: 0.9 !important;
        background-color: #202b30;
    }
  }