.edit-user {
    .mat-form-field {
        display: block;
    }
    .settings-invalid {
        display: block;
        font-size: .7rem;
        color: $color-negative;
        margin-top: -0.5rem;
    }
}
