.edit-password {
    .mat-form-field {
        display: block;
    }

    .title {
        font-size: 1.5rem;
        color: $color-white;
    }
    .align-title {
        display: flex;
        justify-content: space-between;
    }
    .user-since {
        font-size: .7rem;
        color: $color-cool-grey;
    }

    .line-title {
        border: 0.05rem solid $color-font-15;
        width: 100%;
        margin-top: unset;
    }
    .settings-invalid {
        display: block;
        font-size: .7rem;
        color: $color-negative;
        margin-top: .3rem;
    }
    .data-dimensions {
        padding-left: 9rem;
        padding-right: 9rem;
    }
    .line {
        border: 0.05rem dashed $color-font-15;
        width: 100%;
    }

    .line-picture {
        border: 0.05rem dashed $color-font-15;
        width: 100%;
        height: 7.9rem;
        margin-top: unset;
    }
    .section-radios {
        text-align: center;
    }

    .label-picture {
        display: block;
        font-size: 0.75rem;
        color: $color-font;
        margin-bottom: .2rem;
    }
    .btn-close {
        background-color: $color-transparent;
        border: unset;
        cursor: pointer;
    }
    .btn-dimensions-close {
        display: flex;
        justify-content: flex-end;
    }
    .btn-primary {
        font-size: 0.8rem;
        border-radius: 1rem;
        margin-top: 0.2rem;
    }
    .btn-register {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .label-checkbox {
        font-family: Roboto !important;
        font-weight: normal !important;
        font-style: italic !important;
        font-stretch: normal !important;
        line-height: 1.57 !important;
        letter-spacing: normal !important;
    }
}