.shared-input-quantity {
    ::ng-deep .mat-form-field-underline .mat-form-field-ripple,
    ::ng-deep .mat-form-field-underline {
        background-color: $color-links;
    }
    ::ng-deep .mat-form-field-placeholder,
    ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: $color-white;
    }
    ::ng-deep .mat-form-field-can-float .mat-form-field-should-float .mat-form-field-label,
    ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        color: $color-links;
    }
    ::ng-deep .mat-error {
        color: $color-negative;
    }
    .position-left {
        @include respond(medium-desk) {
            padding: 0 1.5rem;
            float: left;
        }
    }
    .align-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
