.myorders {
    .example-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: normal;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-flex-direction: column;
        min-width: 18.75rem;
    }
    .example-header {
        min-height: 4rem;
        padding: .5rem 1.5rem 0;
    }
    .mat-form-field {
        font-size: .9rem;
        width: 100%;
    }
    .mat-table {
        font-family: $font-default;
        overflow: auto;
        max-height: 18.75rem;
        background-color: $color-background-10;
    }
    .mat-paginator {
        background-color: $color-background-10;
    }
    .mat-cell {
        font-family: $font-default;
        font-size: .8rem;
    }
    .coin-select::ng-deep.mat-input-underline.mat-form-field-underline,
    .coin-select::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }
    .mat-form-field-underline {
        display: none;
    }
    .coin {
        margin-top: 1.2rem;
        color: $color-font-8;
        font-size: .8rem;
        font-weight: 400;
    }
    .myorders-button-close{
        cursor: pointer;
    }

    .status-format {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .status-sent {
        @extend .status-format;
        background-color: $color-positive;   
    }

    .status-canceling {
        @extend .status-format;
        background-color: $color-negative;
    }

}
