.shared-range-calendar {
    .range-data-input { 
        background-color: $color-transparent !important;
        border: none !important;
        padding-left: unset !important;
        padding-right: unset !important;
        color: $color-white;
    }

    .m-top-calendar {
        margin-top: -.2rem;  
    }
   
}