.register-modal {
    .mat-form-field {
        display: block;
    }

    .title {
        font-size: 1.5rem;
        color: $color-white;
    }
    .align-title {
        display: flex;
        justify-content: space-between;
    }
    .user-since {
        font-size: .7rem;
        color: $color-cool-grey;
    }

    .dimension-trash-selfie {
        height: .94rem;
        cursor: pointer;
    }

    .line-title {
        border: 0.05rem solid $color-font-15;
        width: 100%;
        margin-top: unset;
    }
    .settings-invalid {
        display: block;
        font-size: .7rem;
        color: $color-negative;
        margin-top: .3rem;
    }
    .data-dimensions {
        padding-left: 9rem;
        padding-right: 9rem;
    }
    .line {
        border: 0.05rem dashed $color-font-15;
        width: 100%;
    }
    .section-radios {
        text-align: center;
    }
    .dropzone-container {
        height: 92% !important;
    }
    .label-picture {
        display: block;
        font-size: 0.75rem;
        color: $color-font;
        margin-bottom: .2rem;
    }
    .btn-close {
        background-color: $color-transparent;
        border: unset;
        cursor: pointer;
    }
    .btn-dimensions-close {
        display: flex;
        justify-content: flex-end;
    }
    .btn-primary {
        font-size: 0.8rem;
        border-radius: 1rem;
        margin-top: 0.2rem;
    }
    .btn-register {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .label-checkbox {
        font-family: Roboto !important;
        font-weight: normal !important;
        font-style: italic !important;
        font-stretch: normal !important;
        line-height: 1.57 !important;
        letter-spacing: normal !important;
    }

    .info-selfie {
        span{
            position: absolute;
            width: 90%;
            color: $color-white;
            margin-top: -4.5rem;
            margin-left: 2.6rem;

            p{
                font-size: .6rem;
                background-color: $color-cool-grey;
                margin-left: .7rem;
                border-radius: .06rem;
                padding: .2rem .4rem;
            }
        }
        span:before {
            content: '';
            position: absolute;
            top: 4rem;
            border-style: solid;
            border-width: .4rem .7rem .4rem 0;
            border-color: $color-transparent $color-cool-grey $color-transparent $color-transparent;
        }
    }
}
