.transfer {
    .example-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: normal;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-flex-direction: column;
        min-width: 18.75rem;
    }
    .example-header {
        min-height: 4rem;
        padding: .5rem 1.5rem 0;
    }
    .mat-form-field {
        font-size: .9rem;
        width: 100%;
    }
    .mat-table {
        overflow: auto;
        max-height: 18.75rem;
        background-color: $color-background-10;
    }
    .mat-paginator {
        background-color: $color-background-10;
    }
    .mat-cell {
        font-size: .8rem;
    }
}
