.shared-upload-file {
    height: 100%;
    .dropzone-container {
        height: 100%;
    }
    .dz-message {
        background-color: $color-background-12 !important;
        border: 0.05rem dashed $color-font-15 !important;
        font-size: 9px !important;
        font-weight: normal !important;
        font-style: italic !important;
        font-stretch: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        text-align: center !important;
        color: $color-cool-grey !important;
    }

    .dz-preview {
        background: $color-transparent !important;
    }
}