<div class="historypage">
    <!-- HISTORY HEADER -->
    <div class="row historypage-row">
        <div class="col-12">
            <div class="row history-row">
                <div class="col-12">
                    <div class="history-img">
                        <img src="../../assets/img/icon_AccountBalance.svg" />
                    </div>
                    <div class="history-header">
                        <h3>{{ 'History' | translate | uppercase }}</h3>
                        <!-- FILTERS -->

                        <div class="d-flex flex-row">
                            <div class="history-date margins-date pr-2">
                                {{ 'from' | translate | uppercase }} {{ startDate | date:'dd/MM/yyyy' | uppercase}} {{ 'to' | translate | uppercase }} {{
                                endDate | date:'dd/MM/yyyy' | uppercase }}
                            </div>
                            <!-- Future implementation -->
                            <!-- 
                                *ngIf="tableData.length > 0; else noDate"
                                  <ng-template #noDate>
                                <div class="history-date margins-date pr-2">
                                    {{ now | date:'dd/MM/yyyy' | uppercase}}
                                </div>
                            </ng-template>
                            -->
                            <!-- TIME -->
                            <div class="history-filters-period pr-2">
                                <span>{{ 'selectPeriod' | translate | uppercase }}:</span>
                                <button mat-button class="history-filter-btn" [disabled]="disabledPeriodSeven" (click)="filterTime(7)">7 {{ 'days' | translate | uppercase }}</button>
                                <button mat-button class="history-filter-btn" [disabled]="disabledPeriodFifteen" (click)="filterTime(15)">15 {{ 'days' | translate | uppercase }}</button>
                                <button mat-button class="history-filter-btn" [disabled]="disabledPeriodThirty" (click)="filterTime(30)">30 {{ 'days' | translate | uppercase }}</button>
                                <button mat-button class="history-filter-btn" [disabled]="disabled" (click)="filterTime(0)">{{ 'AllStatus' | translate | uppercase }}</button>
                            </div>

                            <range-calendar (rangeDates)="filterDates($event)"></range-calendar>
                        </div>
                        <!-- Future Implementation
                            <div class="col-12 history-filters">
                                <div class="row">
                                    <div class="col-md-auto col-12 history-filters-kind">
                                        {{ 'historyKind' | translate | uppercase }}
                                        <mat-form-field>
                                            <mat-select placeholder="{{ 'select' | translate }}" [disabled]="disabled" disableRipple>
                                                <mat-option *ngFor="let kind of historyKinds; index as index" [value]="kind.value" (click)="filterType(index)">
                                                    {{ kind.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-auto col-12 history-filters-coin">
                                        {{ 'CURRENCY' | translate | uppercase }}
                                        <mat-form-field>
                                            <mat-select placeholder="{{ 'select' | translate }}" [disabled]="disabled" disableRipple>
                                                <mat-option *ngFor="let coin of historyCoins; index as index" [value]="coin.value" (click)="filterCoin(index)">
                                                    {{ coin.viewValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div>
                </div>
            </div>
            <!-- TABLE -->
            <div class="row history-row-content">
                <div class="col-12">
                    <mat-table #table [dataSource]="dataSource" matSort>
                        <!-- Date Column -->
                        <ng-container matColumnDef="data">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Date' | translate | uppercase }}</mat-header-cell>
                            <mat-cell class="history-date-cell" *matCellDef="let tableData">{{ tableData.date | date:'MMM' | uppercase }}
                                <br>
                                <span>{{ tableData.date | date:'dd' | uppercase }}</span>
                            </mat-cell>
                        </ng-container>
                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let tableData">
                                <div *ngIf="tableData.type === 'ClientDeposit'">
                                    {{ 'Deposit' | translate }} {{ tableData.symbol }}
                                </div>
                                <div *ngIf="tableData.type === 'ClientWithdraw'">
                                    {{ 'Withdrawal' | translate }} {{ tableData.symbol }}
                                </div>
                                <div *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol !== 'ETH' && tableData.symbol !== 'BTC')">
                                    {{ 'BUY' | translate }} {{ tableData.childs[0].symbol }}
                                </div>
                                <div *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol === 'ETH' || tableData.symbol === 'BTC')">
                                    {{ 'SELL' | translate }} {{ tableData.symbol }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- Operation Value Column -->
                        <ng-container matColumnDef="operationValue">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'operationValue' | translate | uppercase }}</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol === 'ETH' || tableData.symbol === 'BTC'); else showValue">
                                    {{ tableData.total | currency:'BRL' }}
                                </div>
                                <ng-template #showValue>
                                    <div>
                                        {{ tableData.value | currency:'BRL' }}
                                    </div>
                                </ng-template>
                            </mat-cell>
                        </ng-container>
                        <!-- Credit Column -->
                        <ng-container matColumnDef="credit">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'credit' | translate | uppercase }}</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div class="history-data-credit">
                                    <div *ngIf="tableData.type === 'ClientDeposit'">
                                        {{ tableData.value | currency:'BRL' }}
                                    </div>
                                    <div *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol !== 'ETH' || tableData.symbol !== 'BTC')">
                                        <div *ngIf="tableData.symbol !== 'ETH' && tableData.symbol !== 'BTC'; else showCrypto">
                                            {{ tableData.total | number:'1.8-8' }} {{tableData.childs[0].symbol }}
                                        </div>
                                        <ng-template #showCrypto>
                                            <div>
                                                {{ tableData.total | currency:'BRL' }}
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- Debit Column -->
                        <ng-container matColumnDef="debit">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'debit' | translate | uppercase }}</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div class="history-data-debit" *ngIf="tableData.type === 'ClientWithdraw' || (tableData.type === 'OpenOrder' && (tableData.symbol !== 'ETH' || tableData.symbol !== 'BTC'))">
                                    <div *ngIf="tableData.symbol !== 'ETH' && tableData.symbol !== 'BTC'">
                                        -{{ tableData.value | currency:'BRL' }}
                                    </div>
                                </div>
                                <div class="history-data-debit" *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol === 'ETH' || tableData.symbol === 'BTC')">
                                    -{{ tableData.total | number:'1.8-8' }} {{ tableData.symbol }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- Balance Column -->
                        <ng-container matColumnDef="balance">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Balance' | translate | uppercase }} R$</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div class="history-data-money-balance" *ngIf="tableData.type === 'OpenOrder' && (tableData.symbol === 'ETH' || tableData.symbol === 'BTC'); else showValue">
                                    {{ tableData.childs[0].balance | currency:'BRL' }}
                                </div>
                                <ng-template #showValue>
                                    <div class="history-data-money-balance">
                                        {{ tableData.balance | currency:'BRL' }}
                                    </div>
                                </ng-template>
                            </mat-cell>
                        </ng-container>
                        <!-- BTC Balance Column -->
                        <ng-container matColumnDef="balanceBTC">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Balance' | translate | uppercase }} BTC</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div *ngIf="tableData.childs.length > 0 && tableData.childs[0].symbol === 'BTC'" class="history-data-btc-balance">
                                    {{ tableData.childs[0].balance | number:'1.8-8' }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- ETH Balance Column -->
                        <ng-container matColumnDef="balanceETH">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Balance' | translate | uppercase }} ETH</mat-header-cell>
                            <mat-cell class="text-right" style="padding-right: 1rem;" *matCellDef="let tableData">
                                <div *ngIf="tableData.childs.length > 0 && tableData.childs[0].symbol === 'ETH'" class="history-data-eth-balance">
                                    {{ tableData.childs[0].balance | number:'1.8-8' }}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></mat-row>
                        <!-- Expanded row -->
                        <ng-template #tpl let-element>
                            <!-- If Deposit -->
                            <div class="expanded-row" *ngIf="element.type === 'ClientDeposit'">
                                <div class="expanded-row-fee">
                                    <span class="expanded-row-data-execution">{{ 'Fee' | translate | uppercase }}</span>
                                    <span class="expanded-row-data-operation">{{ element.fee | currency:'BRL' }}</span>
                                </div>
                            </div>
                            <!-- If Withdraw -->
                            <div class="expanded-row" *ngIf="element.type === 'ClientWithdraw'">
                                <div class="expanded-row-fee">
                                    <span class="expanded-row-data-execution">{{ 'Fee' | translate | uppercase }}</span>
                                    <span class="expanded-row-data-operation">{{ element.fee | currency:'BRL' }}</span>
                                </div>
                            </div>
                            <!-- If Buy Crypto -->
                            <div class="expanded-row" *ngIf="element.type === 'OpenOrder' && (element.symbol !== 'ETH' && element.symbol !== 'BTC')">
                                <div *ngFor="let crypto of element.childs">
                                    <div class="expanded-row-data">
                                        <span class="expanded-row-data-execution">{{ 'Execution' | translate | uppercase }}</span>
                                        <span class="expanded-row-data-operation"> {{ element.fee | currency:'BRL' }} </span>
                                        <span class="expanded-row-data-credit">{{ crypto.value | number:'1.8-8' }} {{ crypto.symbol }}</span>
                                    </div>
                                </div>
                                <div class="expanded-row-data">
                                    <span class="expanded-row-data-execution">{{ 'totalFee' | translate | uppercase }}</span>
                                    <span class="expanded-row-data-operation">{{ element.fee | currency:'BRL' }}</span>
                                </div>
                            </div>
                            <!-- If Sell Crypto -->
                            <div class="expanded-row" *ngIf="element.type === 'OpenOrder' && (element.symbol === 'ETH' || element.symbol === 'BTC')">
                                <div *ngFor="let crypto of element.childs">
                                    <div class="expanded-row-data">
                                        <span class="expanded-row-data-execution">{{ 'Execution' | translate | uppercase }}</span>
                                        <span class="expanded-row-data-operation"> {{ element.fee | currency:'BRL' }} </span>
                                        <span class="expanded-row-data-credit"></span>
                                        <span class="expanded-row-data-debit">{{ crypto.value | number:'1.8-8' }} {{ element.symbol }}</span>
                                    </div>
                                </div>
                                <div class="expanded-row-data">
                                    <span class="expanded-row-data-execution">{{ 'totalFee' | translate | uppercase }}</span>
                                    <span class="expanded-row-data-operation">{{ element.fee | currency:'BRL' }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </mat-table>
                    <div class="no-records-table" *ngIf="dataSource.data.length === 0">
                        <span> {{ 'noDate' | translate }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>