
<div class="myorders">
        <app-filter 
            isOrdersAllOpen = {{ordersAllOpen}}  
            tabSelected= {{tabActive}} 
            (statusChange)="filterStatus($event)" 
            (typeChange)="filterType($event)"
        ></app-filter>
        <!--(dateChange)="filterDate($event)" //this will be passed to app-filter in the future-->

        
    <div class="example-container mat-elevation-z8">
            
        <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Customer Code Column -->
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Date' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.time | date:'dd/MM/yyyy '}} <strong>{{order.time | date:'HH:mm:ss'}}</strong> </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="size">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Quantity' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.size | number:'1.8-8'}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="filled">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Filled' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.filled | number:'1.8-8'}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Price' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.price | currency:'BRL'}} </mat-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="side">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Type' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{order.side | translate }} </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Status' | translate | uppercase }} 
                </mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <div class="d-flex">
                        <div class="pt-1 pr-1">
                            <div [ngClass]=" setSymbolStatus(order.status)"> </div>
                        </div>
                        <div>
                            {{order.status | translate}} 
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate | uppercase }} </mat-header-cell>
                <mat-cell *matCellDef="let order">

                    <mat-icon *ngIf="canCancelOrder(order.status)" (click)="cancelOrder(order.orderId)"
                        color="warn" title="Cancelar ordem" class="myorders-button-close">close</mat-icon>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
</div>