<div class="shared-upload-file">

    <dropzone *ngIf="type === 'component'" class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row"
        fxLayoutAlign="start strech" fxFlex="auto" [message]="'Arraste seus arquivos para estes espaços ou clique para procurar no seu computador Formatos .jpg .png'" (error)="onUploadError($event)"
        (success)="onUploadSuccess($event)">
    </dropzone>
</div>