<div class="register-modal">
    <h1 mat-dialog-title> {{'safeWord' | translate}}</h1>

    <mat-dialog-content>
        <form [formGroup]="wordForm">
            <mat-form-field>
                <input matInput [(ngModel)]="word" name="word" id="word"  formControlName="word" placeholder="{{'safeWord' | translate}}">
            </mat-form-field>
               
        </form>
                    
    </mat-dialog-content>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">{{ 'Cancel' | translate }}</button>
        <button *ngIf="wordForm.status === 'VALID'; else saveBtn" mat-button (click)="onSubmit()">{{ 'save' | translate }}</button>
        <ng-template #saveBtn>
            <button mat-button  *ngIf="wordForm.status === 'INVALID'" (click)="onSubmit()" disabled="true" cdkFocusInitial>{{ 'save' | translate }}</button>
        </ng-template>
    </div>
</div>