<div class="vacancy">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-12 text-right">
                <div class="vacancy__back" routerLink="/vagas">{{ 'BackVacancy' | translate }}</div>
            </div>
        </div>
    </div>
    <div class="vacancy__block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="vacancy__block-city">São Paulo, Brasil</h6>
                    <h2 class="vacancy__block-title">Vaga</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters vacancy__box vacancy__box--big">
            <div class="col-12 d-flex justify-content-between">
                <div class="vacancy__box-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a eros non elit rhoncus consequat id interdum dui. Fusce ac
                    ante hendrerit, tristique libero quis, tempus eros. Donec sagittis, enim eu faucibus mattis, nulla dolor
                    dictum massa, in vehicula dolor dolor in dui. Integer justo felis, dignissim id nibh ut, gravida interdum
                    nunc. Sed eget erat at ante varius pellentesque eu eu nisi. Aliquam ullamcorper enim vitae nisl blandit
                    molestie. Cras sodales auctor consequat. Donec augue sapien, auctor ornare massa at, elementum pellentesque
                    turpis. Aenean condimentum ex non tempor semper. Nunc tristique consequat lectus sed varius. In quis
                    dui mi. Ut porttitor faucibus dolor porta consectetur. Ut justo est, pulvinar ac tincidunt in, mattis
                    in leo.
                    <div class="vacancy__box-items">
                        <h6 class="vacancy__box-title">{{ 'Requirements' | translate }}</h6>
                        <ul class="vacancy__box-list">
                            <li class="vacancy__box-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, temporibus.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis laborum ea.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit!</li>
                            <li class="vacancy__box-list-item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, beatae reprehenderit?</li>
                        </ul>
                        <h6 class="vacancy__box-title">{{ 'Responsabilities' | translate }}</h6>
                        <ul class="vacancy__box-list">
                            <li class="vacancy__box-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, temporibus.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis laborum ea.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        </ul>
                        <h6 class="vacancy__box-title">{{ 'ExtraFor' | translate }}</h6>
                        <ul class="vacancy__box-list">
                            <li class="vacancy__box-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, temporibus.</li>
                            <li class="vacancy__box-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis laborum ea.</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancy__box-contact align-self-start">
                    <h6>{{ 'WhantCandidate' | translate }}?</h6>
                    <h6>{{ 'SendEmail' | translate }}:</h6>
                    <h6>vagas@abakate.com.br</h6>
                    <h6>{{ 'EmailSubject' | translate }}:</h6>
                    <h6>Vaga</h6>
                </div>
            </div>
        </div>
        <div class="row no-gutters d-flex justify-content-between">
            <div class="vacancy__box vacancy__box--small">
                <h6 class="vacancy__box-title mt-0">{{ 'OurStack' | translate }}</h6>
                <ul class="vacancy__box-list">
                    <li class="vacancy__box-list-item">C#, Python, AngularJS, Node.js</li>
                    <li class="vacancy__box-list-item">SQL Databases (Microsoft SQL Server)</li>
                    <li class="vacancy__box-list-item">NoSQL Databases (MongoDB)</li>
                    <li class="vacancy__box-list-item">CI/CD: Docker</li>
                    <li class="vacancy__box-list-item">Dev tools: Jira, GitHub</li>
                </ul>
            </div>
            <div class="vacancy__box vacancy__box--small">
                At Abakate, we offer an exceptional workplace, extremely competitive compensation. We hire humble, collaborative, and ambitious
                people, and give them endless opportunities to grow and succeed.
                <br> Abakate is an equal opportunity employer, and we value diversity at our company. We don't discriminate on
                the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, or
                disability status.
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
