<div class="filter">

    <div class="d-flex flex-row-reverse">
        <div class="p-1  mr-4 filter-top" *ngIf="isOrdersAllOpen == 0">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <h2 class="coin"> {{ 'Status' | translate | uppercase }}: </h2>
                </div>
                <div class="p-1 mr-2">
                    <div class="coin-select">
                        <mat-form-field class="orderFilter">
                            <mat-select [(value)]="initalStatus" (selectionChange)="filterStatus($event)">
                                <mat-option *ngFor="let status of statusType" value="{{status}}">
                                    {{ status | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-1 mr-4 filter-top">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <h2 class="coin"> {{ 'Type' | translate | uppercase }}: </h2>
                </div>
                <div class="p-1 mr-2">
                    <div class="coin-select">
                        <mat-form-field class="orderFilter">
                            <mat-select [(value)]="inicialType" (selectionChange)="filterType($event)">
                                <mat-option *ngFor="let mov of typeMovement" value="{{mov}}">
                                    {{ mov | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <!--This filter will be shown in the future. In other screen-->
        <!--div class="p-1 mr-4 filter-top" *ngIf="isOrdersAllOpen == 0">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <h2 class="coin"> {{ 'Date' | translate | uppercase }}: </h2>
                </div>
                <div class="p-1 mr-2">
                    <div class="coin-select">
                        <mat-form-field class="orderFilter">
                            <mat-select [(value)]="initialDate" (selectionChange)="filterDate($event)">
                                <mat-option *ngFor="let date of dateType" value="{{date}}">
                                    {{ date | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div-->
    </div>

</div>
