<div class="shared-input-quantity">
    <mat-form-field class = "align-left">
        <input matInput placeholder="{{placeholder}}" cryptoType="{{cryptoType}}" [formControl]="inputBaseControl" (ngModelChange)="changeValue($event)" currencyMask
            [options]="{ precision: 8 , align: 'left', prefix: cryptoType, thousands: '', decimal: ',', allowNegative: false}" [(ngModel)]="value" />
        <mat-error *ngIf="inputBaseControl.hasError('min')">
            {{ 'priceFormatNegativeError' | translate }}
        </mat-error>
        <mat-error *ngIf="inputBaseControl.hasError('required')">
            {{ 'required' | translate }}
        </mat-error>
    </mat-form-field>
</div>