<div class="settingspage">
    <div class="row">
        <div class="col-12">
            <!-- SETTINGS HEADER -->
            <div class="row settings-row">
                <div class="col-12">
                    <div class="settings-img">
                        <img src="../../assets/img/icon_Settings.svg" />
                    </div>
                    <div class="settings-header">
                        <h3>{{ 'Settings' | translate | uppercase }}</h3>
                    </div>
                </div>
            </div>
            <!-- SETTINGS BODY -->
            <div class="row settings-row mobile-row tablet-row">
                <div class="col-md-6 col-12">
                    <!-- ACCOUNTS -->
                    <div class="settings-title">
                        {{ 'AbakateWallets' | translate }}
                    </div>
                    <div class="row no-gutters settings-toggle settings-accounts-array">
                        <div *ngFor="let acc of accountsInside" class="col-12 settings-accounts-col">
                            <div class="settings-accounts">
                                <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="acc.visible" [checked]="acc.visible" (change)="select($event,acc)"> {{acc.symbol}} </mat-slide-toggle>
                                <div class="settings-accounts-data">
                                    {{acc.bank}}
                                </div>
                            </div>
                            <div class="settings-accounts-delete">
                                <button mat-button (click)="deleteAccountBank(acc)">X</button>
                            </div>
                        </div>
                        <button mat-button class="settings-accounts-btn">{{ 'AddNewAccount' | translate | uppercase }}</button>
                    </div>
                    <div class="settings-title  margin-accounts">
                        {{ 'AbakateExternalAccounts' | translate }}
                    </div>
                    <div class="row no-gutters settings-toggle settings-accounts-array">
                        <div *ngFor="let acc  of accountsExterns" class="col-12 settings-accounts-col">
                            <div class="settings-accounts">
                                <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="acc.visible" [checked]="acc.visible" (change)="select($event,acc)">{{ 'BankName' | translate }}: {{acc.bank}} </mat-slide-toggle>
                                <div class="settings-accounts-data">
                                    {{ 'Agency' | translate }}: {{acc.agency}} | {{ 'Account' | translate }}: {{acc.account}}
                                </div>
                            </div>
                            <div class="settings-accounts-delete">
                                <button mat-button (click)="deleteAccountBank(acc)">X</button>
                            </div>
                        </div>
                        <button mat-button class="settings-accounts-btn" (click)="openDialog()">{{ 'AddNewAccount' | translate | uppercase }}</button>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <!-- INTEGRATIONS -->
                    <div class="settings-title">
                        {{ 'Integrations' | translate }}
                    </div>
                    <div class="row no-gutters settings-toggle">
                        <p>{{ 'integrateServices' | translate | uppercase }}</p>
                        <div class="col-md-6 col-12">
                            <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="settings.services.gorila" [checked]="settings.services.gorila"
                                (change)="!settings.services.gorila">Gorila</mat-slide-toggle>
                        </div>
                    </div>
                    <!-- FAVORITE COINS -->
                    <div class="settings-title">
                        {{ 'FavoriteCoins' | translate }}
                    </div>
                    <div class="row no-gutters settings-toggle">
                        <p>{{ 'seeFirst' | translate | uppercase }}</p>
                        <div class="col-md-6 col-12">
                            <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="settings.favoriteCoin.btc" [checked]="settings.favoriteCoin.btc"
                                (change)="!settings.favoriteCoin.btc">Bitcoin</mat-slide-toggle>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="settings.favoriteCoin.eth" [checked]="settings.favoriteCoin.eth"
                                (change)="!settings.favoriteCoin.eth">Ethereum</mat-slide-toggle>
                        </div>
                    </div>
                    <!-- NEGOTIATION COINS -->
                    <div class="settings-title">
                        {{ 'NegotiationCoins' | translate }}
                    </div>
                    <div class="row no-gutters settings-toggle">
                        <p>{{ 'coinsToNegotiate' | translate | uppercase }}</p>
                        <div class="col-md-6 col-12">
                            <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="settings.negotiationCoin.btc" [checked]="settings.negotiationCoin.btc"
                                (change)="!settings.negotiationCoin.btc">Bitcoin</mat-slide-toggle>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-slide-toggle class="settings-toggle-btn" [(ngModel)]="settings.negotiationCoin.eth" [checked]="settings.negotiationCoin.eth"
                                (change)="!settings.negotiationCoin.eth">Ethereum</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>