<div class="old-sign-up">
    <div class="container">
        <form id="msform" (keydown.enter)="$event.preventDefault()">
            <div class="logo">
                <a routerLink="/" class="abakate-brand">abakate</a>
            </div>

            <ul id="progressbar">
                <li class="active">Criação do Usuário</li>
                <li>Informações Pessoais</li>
                <li>Confirme seus Dados</li>
            </ul>

            <fieldset>
                <h2 class="fs-title">Criação do Usuário</h2>
                <h3 class="fs-subtitle">Vamos começar!</h3>
                <input type="text" name="fullname" placeholder="Nome completo" [(ngModel)]="fullname" (input)="verifyPassFirst();" />
                <div class="input-container">
                    <div id="verifycpficon" *ngIf="validCPFFlag">
                        <i class="fa fa-check-circle-o"></i>
                    </div>
                    <input type="text" name="cpf" placeholder="CPF" [(ngModel)]="cpf" (input)="formatCPF(); validCPF();" [ngClass]="validCPFFlag ? '' : 'redborder'"
                    />
                </div>
                <input type="text" name="email" placeholder="E-mail" [(ngModel)]="email" (input)="verifyPassFirst();" />
                <input type="password" name="password" placeholder="Senha" [(ngModel)]="password" (input)="verifyPassFirst();" />
                <input type="password" name="confirm_password" placeholder="Confirme a senha" [(ngModel)]="password2" (input)="verifyPassFirst();"
                />
                <p class="diff-passwords" *ngIf="password !== password2">
                    <i class="fa fa-exclamation-circle"></i> As senhas digitadas não são idênticas.
                </p>
                <app-password-strength-bar [passwordToCheck]="password" (passStrength)="checkStrength($event)"></app-password-strength-bar>
                <p class="diff-passwords" *ngIf="passStrength > 0 && passStrength < 40">
                    <i class="fa fa-exclamation-circle"></i> Senha fraca.
                </p>
                <input type="button" name="next" class="next-disabled action-button" value="Próximo" disabled *ngIf="!mayPassFirst">
                <input type="button" name="next" class="next action-button" value="Próximo" (click)="next($event)" *ngIf="mayPassFirst" />
            </fieldset>

            <fieldset>
                <h2 class="fs-title">Informações Pessoais</h2>
                <h3 class="fs-subtitle">Por favor, informe seus dados pessoais.</h3>
                <input type="text" name="mothersname" placeholder="Nome da mãe" [(ngModel)]="mothersname" (input)="verifyPassSecond();" />
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" name="addr_street" placeholder="Seu logradouro (Ex.: Rua das Macieiras)" [(ngModel)]="addr_street" (input)="verifyPassSecond();"
                        />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="addr_number" placeholder="Número" [(ngModel)]="addr_number" (input)="verifyPassSecond();">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" name="addr_compl" placeholder="Complemento" [(ngModel)]="addr_compl" (input)="verifyPassSecond();">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="addr_neigh" placeholder="Bairro" [(ngModel)]="addr_neigh" (input)="verifyPassSecond();">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="addr_zip" placeholder="CEP" [(ngModel)]="addr_zip" (input)="formatZipCode(); verifyPassSecond();">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" name="addr_city" placeholder="Cidade" [(ngModel)]="addr_city" (input)="verifyPassSecond();">
                    </div>
                    <div class="col-sm-2">
                        <select name="addr_state" [(ngModel)]="addr_state">
                            <option value="" disabled selected>UF</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <select name="cell_areacode" [(ngModel)]="cell_areacode" (click)="verifyPassSecond();">
                            <option value="" disabled selected>DDD</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>21</option>
                            <option>22</option>
                            <option>24</option>
                            <div class="container">
                                <form id="msform" (keydown.enter)="$event.preventDefault()">
                                    <div class="logo">
                                        <a routerLink="/" class="abakate-brand">abakate</a>
                                    </div>

                                    <ul id="progressbar">
                                        <li class="active">Criação do Usuário</li>
                                        <li>Informações Pessoais</li>
                                        <li>Confirme seus Dados</li>
                                    </ul>

                                    <fieldset>
                                        <h2 class="fs-title">Criação do Usuário</h2>
                                        <h3 class="fs-subtitle">Vamos começar!</h3>
                                        <input type="text" name="fullname" placeholder="Nome completo" [(ngModel)]="fullname" (input)="verifyPassFirst();" />
                                        <div class="input-container">
                                            <div id="verifycpficon" *ngIf="validCPFFlag">
                                                <i class="fa fa-check-circle-o"></i>
                                            </div>
                                            <input type="text" name="cpf" placeholder="CPF" [(ngModel)]="cpf" (input)="formatCPF(); validCPF();" [ngClass]="validCPFFlag ? '' : 'redborder'"
                                            />
                                        </div>
                                        <input type="text" name="email" placeholder="E-mail" [(ngModel)]="email" (input)="verifyPassFirst();" />
                                        <input type="password" name="password" placeholder="Senha" [(ngModel)]="password" (input)="verifyPassFirst();" />
                                        <input type="password" name="confirm_password" placeholder="Confirme a senha" [(ngModel)]="password2" (input)="verifyPassFirst();"
                                        />
                                        <p class="diff-passwords" *ngIf="password !== password2">
                                            <i class="fa fa-exclamation-circle"></i> As senhas digitadas não são idênticas.
                                        </p>
                                        <app-password-strength-bar [passwordToCheck]="password" (passStrength)="checkStrength($event)"></app-password-strength-bar>
                                        <p class="diff-passwords" *ngIf="passStrength > 0 && passStrength < 40">
                                            <i class="fa fa-exclamation-circle"></i> Senha fraca.
                                        </p>
                                        <input type="button" name="next" class="next-disabled action-button" value="Próximo" disabled *ngIf="!mayPassFirst">
                                        <input type="button" name="next" class="next action-button" value="Próximo" (click)="next($event)" *ngIf="mayPassFirst" />
                                    </fieldset>

                                    <fieldset>
                                        <h2 class="fs-title">Informações Pessoais</h2>
                                        <h3 class="fs-subtitle">Por favor, informe seus dados pessoais.</h3>
                                        <input type="text" name="mothersname" placeholder="Nome da mãe" [(ngModel)]="mothersname" (input)="verifyPassSecond();" />
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" name="addr_street" placeholder="Seu logradouro (Ex.: Rua das Macieiras)" [(ngModel)]="addr_street" (input)="verifyPassSecond();"
                                                />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="addr_number" placeholder="Número" [(ngModel)]="addr_number" (input)="verifyPassSecond();">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" name="addr_compl" placeholder="Complemento" [(ngModel)]="addr_compl" (input)="verifyPassSecond();">
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="addr_neigh" placeholder="Bairro" [(ngModel)]="addr_neigh" (input)="verifyPassSecond();">
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="addr_zip" placeholder="CEP" [(ngModel)]="addr_zip" (input)="formatZipCode(); verifyPassSecond();">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <input type="text" name="addr_city" placeholder="Cidade" [(ngModel)]="addr_city" (input)="verifyPassSecond();">
                                            </div>
                                            <div class="col-sm-2">
                                                <select name="addr_state" [(ngModel)]="addr_state">
                                                    <option value="" disabled selected>UF</option>
                                                    <option>AC</option>
                                                    <option>AL</option>
                                                    <option>AP</option>
                                                    <option>AM</option>
                                                    <option>BA</option>
                                                    <option>CE</option>
                                                    <option>DF</option>
                                                    <option>ES</option>
                                                    <option>GO</option>
                                                    <option>MA</option>
                                                    <option>MT</option>
                                                    <option>MS</option>
                                                    <option>MG</option>
                                                    <option>PA</option>
                                                    <option>PB</option>
                                                    <option>PR</option>
                                                    <option>PE</option>
                                                    <option>PI</option>
                                                    <option>RJ</option>
                                                    <option>RN</option>
                                                    <option>RS</option>
                                                    <option>RO</option>
                                                    <option>RR</option>
                                                    <option>SC</option>
                                                    <option>SP</option>
                                                    <option>SE</option>
                                                    <option>TO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <select name="cell_areacode" [(ngModel)]="cell_areacode" (click)="verifyPassSecond();">
                                                    <option value="" disabled selected>DDD</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                    <option>16</option>
                                                    <option>17</option>
                                                    <option>18</option>
                                                    <option>19</option>
                                                    <option>21</option>
                                                    <option>22</option>
                                                    <option>24</option>
                                                    <option>27</option>
                                                    <option>28</option>
                                                    <option>31</option>
                                                    <option>32</option>
                                                    <option>33</option>
                                                    <option>34</option>
                                                    <option>35</option>
                                                    <option>37</option>
                                                    <option>38</option>
                                                    <option>41</option>
                                                    <option>42</option>
                                                    <option>43</option>
                                                    <option>44</option>
                                                    <option>45</option>
                                                    <option>46</option>
                                                    <option>47</option>
                                                    <option>48</option>
                                                    <option>49</option>
                                                    <option>51</option>
                                                    <option>53</option>
                                                    <option>54</option>
                                                    <option>55</option>
                                                    <option>61</option>
                                                    <option>62</option>
                                                    <option>63</option>
                                                    <option>64</option>
                                                    <option>65</option>
                                                    <option>66</option>
                                                    <option>67</option>
                                                    <option>68</option>
                                                    <option>69</option>
                                                    <option>71</option>
                                                    <option>73</option>
                                                    <option>74</option>
                                                    <option>75</option>
                                                    <option>77</option>
                                                    <option>79</option>
                                                    <option>81</option>
                                                    <option>82</option>
                                                    <option>83</option>
                                                    <option>84</option>
                                                    <option>85</option>
                                                    <option>86</option>
                                                    <option>87</option>
                                                    <option>88</option>
                                                    <option>89</option>
                                                    <option>91</option>
                                                    <option>92</option>
                                                    <option>93</option>
                                                    <option>94</option>
                                                    <option>95</option>
                                                    <option>96</option>
                                                    <option>97</option>
                                                    <option>98</option>
                                                    <option>99</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="cell_number" placeholder="Número do celular" [(ngModel)]="cell_number" (input)="formatCellPhone(); verifyPassSecond();"
                                                />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="birthdate" placeholder="Data de nascimento (DD/MM/AAAA)" [(ngModel)]="birthdate" (input)="formatBirthDate(); verifyPassSecond();"
                                                />
                                            </div>
                                        </div>

                                        <input type="button" name="previous" class="previous action-button-previous" value="Anterior" (click)="previous($event)"
                                        />
                                        <input type="button" name="next" class="next-disabled action-button" value="Próximo" disabled *ngIf="!mayPassSecond" />
                                        <input type="button" name="next" class="next action-button" value="Próximo" (click)="next($event)" *ngIf="mayPassSecond"
                                        />
                                    </fieldset>

                                    <fieldset class="color-black">
                                        <h2 class="fs-title">Confirme seus Dados</h2>
                                        <h3 class="fs-subtitle">Verifique se os dados que você digitou estão corretos:</h3>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">Nome completo:</div>
                                            <div class="col-sm-8 data-confirm">{{ fullname }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">E-mail:</div>
                                            <div class="col-sm-8 data-confirm">{{ email }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">CPF:</div>
                                            <div class="col-sm-8 data-confirm">{{ cpf }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">Data de nascimento:</div>
                                            <div class="col-sm-8 data-confirm">{{ birthdate }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">Nome da mãe:</div>
                                            <div class="col-sm-8 data-confirm">{{ mothersname }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">Endereço:</div>
                                            <div class="col-sm-8 data-confirm">{{ addr_street }}, {{ addr_number }} {{ addr_compl }}
                                                <br>{{ addr_neigh }} - {{ addr_city }} - {{ addr_state }}
                                                <br>CEP {{ addr_zip }}</div>
                                        </div>
                                        <div class="row rowspace">
                                            <div class="col-sm-4 data-label">Celular:</div>
                                            <div class="col-sm-8 data-confirm">({{ cell_areacode }}) {{ cell_number }}</div>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button-previous" value="Anterior" (click)="previous($event)"
                                        />
                                        <input type="submit" name="submit" class="submit action-button" value="Enviar" (click)="submitForm();" />
                                    </fieldset>

                                </form>
                            </div>
                            <option>27</option>
                            <option>28</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>37</option>
                            <option>38</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                            <option>44</option>
                            <option>45</option>
                            <option>46</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>51</option>
                            <option>53</option>
                            <option>54</option>
                            <option>55</option>
                            <option>61</option>
                            <option>62</option>
                            <option>63</option>
                            <option>64</option>
                            <option>65</option>
                            <option>66</option>
                            <option>67</option>
                            <option>68</option>
                            <option>69</option>
                            <option>71</option>
                            <option>73</option>
                            <option>74</option>
                            <option>75</option>
                            <option>77</option>
                            <option>79</option>
                            <option>81</option>
                            <option>82</option>
                            <option>83</option>
                            <option>84</option>
                            <option>85</option>
                            <option>86</option>
                            <option>87</option>
                            <option>88</option>
                            <option>89</option>
                            <option>91</option>
                            <option>92</option>
                            <option>93</option>
                            <option>94</option>
                            <option>95</option>
                            <option>96</option>
                            <option>97</option>
                            <option>98</option>
                            <option>99</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="cell_number" placeholder="Número do celular" [(ngModel)]="cell_number" (input)="formatCellPhone(); verifyPassSecond();"
                        />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="birthdate" placeholder="Data de nascimento (DD/MM/AAAA)" [(ngModel)]="birthdate" (input)="formatBirthDate(); verifyPassSecond();"
                        />
                    </div>
                </div>

                <input type="button" name="previous" class="previous action-button-previous" value="Anterior" (click)="previous($event)"
                />
                <input type="button" name="next" class="next-disabled action-button" value="Próximo" disabled *ngIf="!mayPassSecond" />
                <input type="button" name="next" class="next action-button" value="Próximo" (click)="next($event)" *ngIf="mayPassSecond"
                />
            </fieldset>

            <fieldset class="color-black">
                <h2 class="fs-title">Confirme seus Dados</h2>
                <h3 class="fs-subtitle">Verifique se os dados que você digitou estão corretos:</h3>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">Nome completo:</div>
                    <div class="col-sm-8 data-confirm">{{ fullname }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">E-mail:</div>
                    <div class="col-sm-8 data-confirm">{{ email }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">CPF:</div>
                    <div class="col-sm-8 data-confirm">{{ cpf }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">Data de nascimento:</div>
                    <div class="col-sm-8 data-confirm">{{ birthdate }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">Nome da mãe:</div>
                    <div class="col-sm-8 data-confirm">{{ mothersname }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">Endereço:</div>
                    <div class="col-sm-8 data-confirm">{{ addr_street }}, {{ addr_number }} {{ addr_compl }}
                        <br>{{ addr_neigh }} - {{ addr_city }} - {{ addr_state }}
                        <br>CEP {{ addr_zip }}</div>
                </div>
                <div class="row rowspace">
                    <div class="col-sm-4 data-label">Celular:</div>
                    <div class="col-sm-8 data-confirm">({{ cell_areacode }}) {{ cell_number }}</div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Anterior" (click)="previous($event)"
                />
                <input type="submit" name="submit" class="submit action-button" value="Enviar" (click)="submitForm();" />
            </fieldset>

        </form>
    </div>
</div>
