<div class="row no-gutters justify-content-center">
    <div class="col-10 col-md-8">
        <h4 class="heading-quarternary sign-up__title">
            {{ 'SignIn' |translate }}
        </h4>
        <form class="sign-up__form" [formGroup]="signin">
            <div class="row">
                <div class="col-xl-9 col-lg-10 col-12">
                    <label class="sign-up__form-label" for="email">{{ 'Email' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="email" name="email" id="email" placeholder="{{ 'Email' | translate }}" formControlName="email"
                            [(ngModel)]="email" (keyup.enter)="keytab($event)">
                        <span *ngIf="signin.get('email').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!signin.get('email').valid && signin.get('email').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!signin.get('email').valid && signin.get('email').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidEmail' | translate }}</i>
                    </span>
                </div>
                <div class="col-xl-9 col-lg-10 col-12">
                    <label class="sign-up__form-label" for="password">{{ 'Password' | translate | uppercase }}</label>
                    <div class="sign-up__form-relative">
                        <input class="sign-up__form-input" type="password" name="password" id="password" placeholder="{{ 'Password' | translate }}"
                            formControlName="password" [(ngModel)]="password" (keyup.enter)="keytab($event)">
                        <span *ngIf="signin.get('password').valid" class="sign-up__form-success">
                            <img src="../../../assets/img/icon_Check.svg" alt="Check">
                        </span>
                        <span *ngIf="!signin.get('password').valid && signin.get('password').touched" class="sign-up__form-error">
                            <img src="../../../assets/img/icon_error.svg" alt="Error">
                        </span>
                    </div>
                    <span *ngIf="!signin.get('password').valid && signin.get('password').touched" class="sign-up__form-invalid">
                        <i>{{ 'invalidPassword' | translate }}</i>
                    </span>

                </div>
            </div>
        </form>
        <div class="row no-gutters">
            <div class="col-xl-9 col-lg-10 col-12">
                <span class="sign-up__form-forgot">
                    <button routerLink="/login/esqueceu-a-senha">{{ 'ForgotPassword' | translate }} ?</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-10 col-md-8 text-left">
        <button id="login_submit" [disabled]="!signin.get('email').valid || !signin.get('password').valid" class="btn__btn btn__btn--fill"
            (click)="auth.login(email, password)">
            {{ 'SignInLogin' | translate }}
        </button>
    </div>
</div>
