<div class="profile">
    <div class="row">
        <div class="col-12">
            <!-- profile HEADER -->
            <div class="row profile-row">
                <div class="col-12">
                    <div class="profile-img">
                        <img src="../../assets/img/icon_UserBalance.svg" />
                    </div>
                    <div class="profile-header">
                        <h3>{{ 'Profile' | translate | uppercase }}</h3>
                    </div>
                </div>
            </div>
            <!-- profile BODY -->
            <div class="row profile-row mobile-row tablet-row">
                <!-- PROFILE -->
                <div class="col-md-6 col-12">
                    <div class="profile-title clearfix">
                        {{ 'Profile' | translate }}
                        <span>{{ 'UserSince' | translate | uppercase }} JANEIRO/2018</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-auto col-12 text-center">
                            <!-- IMAGE -->
                            <div>
                                <div class="profile-user-xp-border">
                                    <svg height="100%" width="100%" viewBox="0 0 120 120" style="transform: rotate(270deg);">
                                        <circle *ngFor="let xp of userXP; let i = index" cx="60" cy="60" r="50" fill="transparent" stroke-width="8" [attr.stroke-dasharray]="getPerimeter(50)"
                                            [attr.stroke-dashoffset]="getOffset(50,i)" [attr.stroke]="getColor(i)" />
                                    </svg>
                                    <div class="profile-avatar">
                                        <img src="{{ profile.picture }}" title="{{ profile.nickname }}">
                                    </div>
                                    <div *ngIf="!editMode" class="profile-user-xp-number">{{ userTotalXP }} % 
                                        <div *ngIf="userTotalXP < 100">
                                            <p><strong>{{ 'SecurityPending' | translate | uppercase}}</strong><br>
                                               {{ 'SecurityArea' | translate | uppercase}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button *ngIf="editMode" mat-button class="btn profile-photo-btn" (click)="changePhoto()">{{ 'ChangePhoto' | translate | uppercase }}</button>
                        </div>
                        <div class="col-lg-auto col-12 form-group">
                            <!-- TEXT -->
                            <label class="profile-label" for="name">{{ 'Name' | translate | uppercase }}</label>
                            <p *ngIf="!editMode" class="profile-text">{{ profile.nickname }}</p>
                            <label class="profile-label" for="email">{{ 'Email' | translate | uppercase }}</label>
                            <p *ngIf="!editMode" class="profile-text">{{ profile.name }}</p>
                            <label class="profile-label" for="password">{{ 'Password' | translate | uppercase }}</label>
                            <p *ngIf="!editMode" class="profile-text">{{ profile.password }} 
                                <span>
                                    <button *ngIf="!editMode" mat-button class="btn profile-delete-btn" (click)="onEdit()">{{ 'ExchangePassword' | translate | uppercase }}</button>
                                </span>
                            </p>
                            <label class="profile-label" for="cpf">{{ 'CPF' | translate | uppercase }}</label>
                            <p *ngIf="!editMode" class="profile-text">{{ profile.cpf }}</p>
                            <label class="profile-label" for="phone">{{ 'Phone' | translate | uppercase }}</label>
                            <p *ngIf="!editMode" class="profile-text">{{ profile.phone }}</p>

                            <div class="profile-kyc-div">
                                <div class="profile-kyc"> {{ 'ProfileKyc' | translate | uppercase }} <img src="../../assets/img/icon_Information.svg" /> 
                                    <div>
                                        <p> <strong> {{ 'Important' | translate }}! </strong> <br>
                                        {{ 'ProfileKycApproved' | translate}}.
                                        </p>
                                    </div>
                                </div>
                                <label class="profile-label" for="phone">{{ 'Status' | translate}}:</label>
                                <p *ngIf="!editMode" class="profile-text">{{ status }}</p>
                                <!-- <button *ngIf="!editMode" class="btn profile-btn-edit" (click)="onEdit()">{{ 'FullProfile' | translate }}</button> -->
                            </div>
                            
                            <div class="profile-save-btn">
                                <label class="profile-label">{{ 'AccountID' | translate | uppercase }}</label>
                                <p class="profile-text">{{ profile.accountId }}</p>
                                <button *ngIf="!editMode" mat-button class="btn profile-delete-btn" (click)="deleteAccount()">{{ 'DeleteAccount' | translate | uppercase }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 profile-doc">
                    <!-- ACCOUNTS -->
                    <div class="profile-title">
                        {{ 'SubmitDocuments' | translate }}
                    </div>
                    <p class="profile-doc-kyc">{{ 'DocumentsListKYC' | translate }}.</p>
                    <div class="profile-drag-drop">
                        <p>{{ 'DragAndDropReceipt' | translate }} <br>
                            {{ 'FormatDoc' | translate }}
                        </p>
                    </div>
                    <div class="profile-title">
                        {{ 'DocumentsList' | translate }}
                    </div>
                    <mat-table #table [dataSource]="dataSource">                 
                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef>{{ 'Date' | translate | uppercase }}</mat-header-cell>
                            <mat-cell *matCellDef="let tableData">
                                    {{tableData.date | date:'dd/MM/yyyy' | uppercase }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="document">
                            <mat-header-cell *matHeaderCellDef>{{ 'Documento' | uppercase}}</mat-header-cell>
                            <mat-cell *matCellDef="let tableData">
                                    {{tableData.document}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>{{'Ações' | uppercase}}</mat-header-cell>
                            <mat-cell *matCellDef="let tableData">
                                {{tableData.actions}}
                                <span><img src="../../assets/img/icon_Search.svg" /></span>
                                <span><img src="../../assets/img/icon_Trash.svg" /></span>
                            </mat-cell>
                        </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>
