<div class="orderentry-buysell">
    <div class="form-group align-left">
        <mat-radio-group class="example-radio-group" (change)="select($event)">
            <mat-radio-button id="radio-buy" class="radio-button ml-0" value="Buy" [checked]="isBuyOrder">
              {{'buy'|translate}}
            </mat-radio-button>
            <mat-radio-button id="radio-sell" class="radio-button" value="Sell" [checked]="!isBuyOrder">
              {{'sell'|translate}}
          </mat-radio-button>
        </mat-radio-group>
      <div>
</div>

  